.container{width: 1000px;
	background-image: url("../../../img/bg-clouds.png");
	background-color: #4DA5E4;
	padding: 0;
}
.main{
	width: 600px;
	margin: 30px;
}

.panel{
	background-color: transparent;
}

.question-list{padding: 10px;
	display: none;
	display: block;
	color :#000000;
	
	
	
	display: none;
}
.question-list.active{display: block;}
.question-list .qbody{
	line-height: 2;
    display: block;
    font-size: 16px;
    text-align: left;
}
.question-list .qanswer-panel{line-height: 2;}

.question-list .qanswer{cursor: pointer;
	margin-top: 20px;

}

.question-panel{
	background: url("../../../img/login_bg_white.png") center center repeat;
	width: 540px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
	padding: 22px 30px;  
}

.label{
	    white-space: normal;
}
.btn {
	white-space: normal;
	text-align: left;
}