<!DOCTYPE html>
<html>
  <head>
    <title>军事理论教学分系统</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/admin/jsjn/list.css' >
    <link rel='stylesheet' href='css/admin/jsll/list.css' >
  </head>
  <body>
    <%- include ../common/header.ejs %>
    <div class="container">
      <div class="fpanel">
        <ul class="nav nav-tabs sub-nav" style="margin-top:15px;">
          <li role="presentation" data-type="1" data-key="政策" class="active">
            <a href="javascript:void(0);">军训规定</a>
          </li>
          <li role="presentation" data-type="2" data-key="理论"><a href="javascript:void(0);">军训理论</a></li>
          <li role="presentation" data-type="3" data-key="资料"><a href="javascript:void(0);">辅助资料</a></li>
          <li role="presentation" data-type="4" data-key="系统帮助"><a href="javascript:void(0);">系统帮助</a></li>
        </ul>
        <div id="menu_panel" >
          <div class="sidebar">
            <ul id="menu_list" class="memu-panel"></ul>  
          </div>
          <div class="main">
            <div class="info-content" >
              <div class="info-content" >
                <textarea class="editor-area" id="content" placeholder="输入文章正文" autofocus></textarea>
                <div class="btn-wrapper" style="font-size:14px;margin-top: 15px;text-align:right;">
                  <span id="btn_commit" class="btn btn-primary">提交</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div id="tree_panel" class="sidebar" style="display:none;">
          <div class="tree-opr" style="display:none;">
            <a href="javascript:void(0);" class="unfold">展开</a>
            |<a href="javascript:void(0);" class="add">增加</a>
            |<a href="javascript:void(0);" class="edit">编辑</a>
            |<a href="javascript:void(0);" class="del">删除</a>
          </div>
          <ul id="topic_tree" class="ztree"></ul>
        </div> -->
        <div id="tree_panel" style="display:none;">
          <div class="sidebar-menu">
            <ul class="type-panel">
              <li class="active" data-type="1">
                <i class="type-ico res-txt"></i>
                <p>文字</p>
              </li>
              <li data-type="2">
                <i class="type-ico res-txt"></i>
                <p>图片</p>
              </li>
              <li data-type="3">
                <i class="type-ico res-txt"></i>
                <p>视频</p>
              </li>
              <li data-type="4">
                <i class="type-ico res-txt"></i>
                <p>课件</p>
              </li>
            </ul>
          </div>
          <div class="sidebar-tree">
            <ul id="topic_tree" class="ztree" ></ul>
          </div>
          <div class="main" style="width:690px;" >
            <div id="txt_panel" class="info-content" >
              <textarea class="editor-area" id="txt_editor" placeholder="输入文章正文" autofocus></textarea>
              <div class="btn-wrapper" style="font-size:14px;margin-top: 15px;text-align:right;">
                <span id="btn_txt" class="btn btn-primary">提交</span>
              </div>
            </div>
            <div id="resource_panel" style="display:none;">
              <div id="resource_list"></div>
              <div id="pagebar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/template" id="resource-tpl">
    <div class="res-list">
      <span class="res-type">类型</span>
      <span class="res-title">标题</span>
      <span>作者</span>
      <span>时间</span>
    </div>
    {@each list as resource}
    <div class="res-list">
      <span class="res-type"><i class="ico ico-${resource.file_name|getFileType}"></i></span>
      <span class="res-title">
        <a href="admin/article/detail/${resource.id}" target="_blank">${resource.title}</a>
      </span>
      <span>${resource.author}</span>
      <span>${resource.create_time}</span>
    </div>
    {@/each}
    </script>
    <script type="text/template" id="menu_tpl">
    {@each list as resource}
    <li data-id="${resource.id}">
      <a href="javascript:void(0);" class="btn btn-info btn-lg active" role="button">${resource.title}</a>
    </li>
    {@/each}
    </script>


    <script type="text/template" id="edit_menu_dlg">
    <div class="">
      <input id="menu_name" placeholder="输入名称" value="${name}" style="line-height:24px;padding: 0 10px;">
    </div>
    </script>



    <script type="text/template" id="pic_tpl">
    <div class="pic_preview">
      <img src="${file_name}" alt="${title}" class="img-thumbnail">
    </div>
    </script>
    <script type="text/template" id="video_tpl">
    <div class="pic_preview">
      <p>
        <a href="${file_name}" class="btn btn-success btn-lg active" role="button">下载到本地</a>
      </p>
      <video id="example_video_1" class="video-js vjs-default-skin"
        controls preload="auto" width="640" height="264" style="width:600px;height:450px;"
        poster="http://video-js.zencoder.com/oceans-clip.png"
        data-setup='{"example_option":true}'>
       <source src="${file_name}" type='video/mp4' />
       <source src="${file_name}" type='video/webm' />
       <source src="${file_name}" type='video/ogg' />
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
    </div>
    </script>

    <script type="text/template" id="ppt_tpl">
    <div class="pic_preview">
       <p><a href="${file_name}" class="btn btn-success btn-lg active" role="button">下载到本地</a></p>
    </div>
    </script>
    
    <script type="text/javascript" src="js/admin/jsll/list.js"></script>
    
    <script>
      $(document).ready(function() {
          moka.admin.jsll.list.init();
      });
    </script>
  </body>
</html>
