<!DOCTYPE html>
<html>
  <head>
    <title>军事理论研究分系统</title>
    <%- include ../../common/meta.ejs %>
    <link rel='stylesheet' href='css/zTreeStyle/zTreeStyle.css' >
    <link rel='stylesheet' href='css/resource/list.css' >
    
  </head>
  <body>
    <%- include ../../common/header.ejs %>
    <div class="container">
      <div class="sidebar">
        <div class="tree-opr">
          <a href="javascript:void(0);" class="unfold">展开</a>
          |<a href="javascript:void(0);" class="add">增加</a>
          |<a href="javascript:void(0);" class="edit">编辑</a>
          |<a href="javascript:void(0);" class="del">删除</a>
        </div>
        <div style="overflow:auto;min-height:500px;" >
          <ul id="topic_tree" class="ztree"></ul>
          <ul id="series_tree" class="ztree" style="display:none;"></ul>
        </div>
      </div>
      <div class="main" style="padding-top:30px;font-size:14px;color:#333;">
        <div id="content" class="info-content" ></div>
      </div>
    </div>

    <%- include ../common/menu-tpl.ejs %>
    <script type="text/javascript" src="js/lib/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="js/user/jsll/jsll.js"></script>
    <script type="text/javascript" src="js/user/jsll/list.js"></script>
    
    <script>
      $(document).ready(function() {
          moka.user.jsll.list.init();
      });
    </script>
  </body>
</html>
