.sidebar {
	width: 209px;
    padding: 10px 20px 10px 0;
    /*padding: 10px 0;*/
    display: inline-block;
    font-size: 12px;
    overflow: auto;
    min-height: 694px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #cccccc;
    vertical-align: top;
}

.sidebar ul.memu-panel li{
	line-height: 40px;height: 40px;
    width: 100%;
    margin-bottom: 15px;
}
.sidebar ul.memu-panel li a{
	/*line-height: 40px;height: 40px;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    width: 100%;
    display: inline-block;
    font-size: 12px;
}

.sidebar .tree-opr{
  line-height: 24px;font-size: 0;
  border-bottom: 1px solid #cccccc;
}

.sidebar .tree-opr a{display: inline-block;width: 40px;text-align: center;
  font-size: 12px;vertical-align: top;
}

.sidebar .ztree{width: 100%;overflow: auto;}

.main{
	width: 750px;display: inline-block;vertical-align: top;
	padding: 20px 0 20px 20px;
	font-size:14px;color:#333;
	height: 100%;
	padding-bottom: 60px;
}

.submenu{
	background: #ffffff none repeat scroll 0 0;
    margin: auto;
    line-height: 40px;
    padding: 0 20px;
    width: 960px;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
}

.submenu a{width: 100px;padding: 0 10px;}
.submenu a.active{color:#333;}

.info-content{
	line-height: 1.5;
	height: 100%;
}

.editor-area{
	width: 100%;
	height: 100%;
	font-size: 14px;
	padding: 5px 10px;
	line-height: 1.5;
}