<!DOCTYPE html>
<html>
  <head>
    <title>模特管理</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  	<div class="container">
    	<div class="nav">
    		<dl>
    			<a href="/admin/article/uneval" >文章审核</a>
    		</dl>
    		<dl>
    			<a href="/admin/resource/list" >资源管理</a>
    		</dl>
    		<dl>
    			<a href="/admin/user/list" >用户管理</a>
    		</dl>
        <dl>
          <a href="/admin/manage/exam" >考试管理</a>
        </dl>
        <dl>
          <a href="/admin/question/list" >题库管理</a>
        </dl>
    	</div>
	</div>
  </body>
  </body>
</html>
