<!DOCTYPE html>
<html>
  <head>
    <title>首页管理</title>
    <%- include common/meta.ejs %>
    <link rel='stylesheet' href='css/zTreeStyle/zTreeStyle.css' >
    <link rel="stylesheet" type="text/css" href="simditor/styles/simditor.css" />
    <link rel='stylesheet' href='css/admin/index/index.css' >
  </head>
  <body>
    <%- include common/header.ejs %>
  	<div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" data-id="1" class="active">
          <a href="javascript:void(0);">中心简介</a>
        </li>
        <li role="presentation" data-id="2" ><a href="javascript:void(0);">研究队伍</a></li>
        <li role="presentation" data-id="3" ><a href="javascript:void(0);">管理机构</a></li>
        <li role="presentation" data-id="4" ><a href="javascript:void(0);">学术成果</a></li>
        <li role="presentation" data-id="5" ><a href="javascript:void(0);">数字资源</a></li>
        <li role="presentation" data-id="6" ><a href="javascript:void(0);">关于我们</a></li>
        <li role="presentation" data-id="7" ><a href="javascript:void(0);">图片新闻</a></li>
      </ul>

      <div id="editor_panel" class="editor-panel" >
        <textarea id="editor" placeholder="输入文章正文" autofocus><% if(typeof content != 'undefined'){%><%- content %><% } %></textarea>
        <div class="btn-wrapper" style="font-size:14px;">
          <span id="btn_modify" class="btn-commit">提交</span>
        </div>
      </div>
      <div id="list_panel" style="display:none;">
        <div id="s_resource_list"></div>
        <div id="s_pagebar"></div>
      </div>
      <div id="tree_panel" style="display:none;">
        <div class="sidebar">
          <div class="tree-opr">
            <a href="javascript:void(0);" class="unfold">展开</a>
          </div>
          <div style="overflow:auto;min-height:500px;" >
            <ul id="topic_tree" class="ztree"></ul>
          </div>
        </div>
        <div id="list_box" class="main">
          <div class="resource-opr">
            <a href="javascript:void(0);" class="add">增加</a>
          </div>
          <div id="resource_list"></div>
          <div id="pagebar"></div>
        </div>
      </div>


      <div id="pic_panel" style="display:none;">
        <div id="news_panel"></div>
        <div class="btn-wrapper" style="font-size:14px;">
          <span id="btn_commit" class="btn-commit">提交</span>
        </div>  
      </div>
    	
	  </div>

    <script type="text/template" id="news-tpl">
    {@each list as news, index}
    <div class="news-edit">
        <dl>
          <label>首页图文序号${news.index}</label>
        </dl>
        <dl>
          <label>标题：</label><input class="newstitle" name="title" value="${news.title}">
        </dl>
        <dl>
          <label>链接：</label><input class="link" name="link" value="${news.link}">
        </dl>
        <dl>
          <label>图片：</label><input class="pic_url" name="pic_url" value="${news.pic_url}">
        </dl>
    </div>
    {@/each}
    </script>

    <script type="text/template" id="article-tpl">
    <div class="res-list">
      <span class="res-type">类型</span>
      <span class="res-title">标题</span>
      <span>作者</span>
      <span>时间</span>
      <span>操作</span>
    </div>
    {@each list as resource}
    <div class="res-list">
      <span class="res-type"><i class="ico ico-${resource.file_name|getFileType}"></i></span>
      <span class="res-title">
        <a href="admin/article/detail/${resource.id}" target="_blank">${resource.title}</a>
      </span>
      <span>${resource.author}</span>
      <span>${resource.create_time}</span>
      <span class="oper">
        <a href="admin/article/edit/${resource.id}" target="_blank" data-id="${resource.id}" class="edit">编辑</a>
        <a href="javascript:void(0);" data-id="${resource.id}" class="del">删除</a>
      </span>
    </div>
    {@/each}
    </script>

    <script type="text/template" id="resource-tpl">
    <div class="res-list">
      <span class="res-type">类型</span>
      <span class="res-title">标题</span>
      <span>时间</span>
    </div>
    {@each list as resource}
    <div class="res-list">
      <span class="res-type"><i class="ico ico-${resource.content_type|getTypeName}"></i></span>
      <span class="res-title">
        <a href="resource/detail/${resource.id}" target="_blank">${resource.title}</a>
      </span>
      <span>${resource.create_time}</span>
    </div>
    {@/each}
    </script>

    <script type="text/javascript" src="js/lib/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="simditor/scripts/module.js"></script>
    <script type="text/javascript" src="simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="simditor/scripts/simditor.js"></script>
    <script type="text/javascript" src="js/admin/index.js"></script>
    <script>
      $(document).ready(function() {
          moka.admin.index.init();
      });
    </script>
  </body>
</html>
