<!DOCTYPE html>
<html>
  <head>
    <title>管理</title>
    <%- include common/meta.ejs %>
  </head>
  <body>
    <%- include common/header.ejs %>
  	<div class="container">
    	<div class="nav">
    		<!-- dl>
    			<a href="/admin/article/uneval" >文章审核</a>
    		</dl>
    		<dl>
    			<a href="/admin/resource/list" >资源管理</a>
    		</dl>
        <dl>
          <a href="/admin//evalution/list" >测评</a>
        </dl>
        <dl>
          <a href="/admin/expert/list" >教师资源</a>
        </dl>
    		<dl>
    			<a href="/admin/user/list" >用户管理</a>
    		</dl>
        <dl>
          <a href="/admin/paper/list" >考试管理</a>
        </dl>
        <dl>
          <a href="/admin/question/list" >题库管理</a>
        </dl> -->
    	</div>
	 </div>
  </body>
</html>
