.container{width: 1000px;}
.nav{position: absolute;top: 0;left: 50px;z-index: 2;width: auto;}
.main-panel{height: 100%;}
.main{
    width: 100%;
    padding: 20px;
    display: inline-block;vertical-align: top;
	font-size:14px;color:#333;
	border-left: 1px solid #cccccc;
	min-height: 500px;
    max-height: 100%;
    overflow: auto;
	margin-left: -1px;
}
.info-content{
	line-height: 1.5;
}
.building{width: 100%;margin-top: 150px; text-align: center; font-size: 18px;color: #cccccc;}

.paper-list-title{font-size: 0;}
.paper-list-title div{display: inline-block;text-align: center;font-size: 14px;font-weight: bold;
    border-bottom: 1px solid #cccccc;line-height: 2;
}
.paper-list-title div:nth-child(1){width: 360px;}
.paper-list-title div:nth-child(2){width: 460px;}
.paper-list-title div:nth-child(3){width: 100px;}
.paper-list{line-height: 30px;border-bottom: 1px dashed #cccccc;font-size: 0;}
.paper-list:last-child{border:none;}
.paper-list div{display: inline-block;text-align: left;font-size: 14px;}
.paper-list div:nth-child(1){width: 360px;}
.paper-list div:nth-child(2){width: 460px;}
.paper-list div:nth-child(3){width: 100px;text-align: center;}
.paper-list .oper span{cursor: pointer;margin-left: 5px;color: blue;}