<!DOCTYPE html>
<html>
  <head>
    <title>国防军事技能研究资源管理分系统</title>
    <%- include ../common/meta.ejs %>
    <link rel="stylesheet" type="text/css" href="simditor/styles/simditor.css" />
    <link rel='stylesheet' href='css/zTreeStyle/zTreeStyle.css' >
    <link rel='stylesheet' href='css/admin/article/list.css' >
    <link rel='stylesheet' href='css/user/jsjn/list.css' >
    
  </head>
  <body>
    <%- include ../common/header.ejs %>   
  	<div class="container" >
      <ul class="nav nav-tabs" style="margin-top:15px;">
        <li role="presentation" data-type="1" data-mid="100101" class="active">
          <a href="javascript:void(0);">训练组织</a>
        </li>
        <li role="presentation" data-type="2" data-mid="100102"><a href="javascript:void(0);">训练实施</a></li>
        <li role="presentation" data-type="3" data-mid="1002"><a href="javascript:void(0);">辅助资料</a></li>
      </ul>

      <div id="menu_panel" >
        <div class="sidebar">
          <ul class="res-menu" >
              <li><button type="button" class="btn btn-primary active" data-id="130101">概况</button></li>
              <li><button type="button" class="btn btn-primary" data-id="130102">机构</button></li>
              <li><button type="button" class="btn btn-primary" data-id="130103">计划</button></li>
              <li><button type="button" class="btn btn-primary" data-id="130104">总结</button></li>
              <li><button type="button" class="btn btn-primary" data-id="130105">信息</button></li>
          </ul>
        </div>
        <div id="editor_box" class="main">
          <textarea id="editor" placeholder="输入文章正文" autofocus><% if(typeof content != 'undefined'){%><%- content %><% } %></textarea>
          <div class="btn-wrapper" style="font-size:14px;margin-top: 15px;text-align:right;">
            <span id="btn_modify" class="btn btn-primary">提交</span>
          </div>
        </div>
      </div>
      <div id="tree_panel" style="display:none;">
        <div class="sidebar" >
          <div class="tree-opr">
            <a href="javascript:void(0);" class="unfold">展开</a>
            |<a href="javascript:void(0);" class="add">增加</a>
            |<a href="javascript:void(0);" class="edit">编辑</a>
            |<a href="javascript:void(0);" class="del">删除</a>
          </div>
          <div style="overflow:auto;min-height:500px;" >
            <ul id="topic_tree" class="ztree"></ul>
          </div>
        </div>
        <div class="main">
          <div class="resource-opr">
            <a href="javascript:void(0);" class="add">增加</a>
          </div>
          <div id="resource_list"></div>
          <div id="pagebar"></div>
        </div>
  	  </div>

    </div>
    <script type="text/template" id="resource-tpl">
    <div class="res-list">
      <span class="res-type">类型</span>
      <span class="res-title">标题</span>
      <span>作者</span>
      <span>时间</span>
      <span>操作</span>
    </div>
    {@each list as resource}
    <div class="res-list">
      <span class="res-type"><i class="ico ico-${resource.file_name|getFileType}"></i></span>
      <span class="res-title">
        <a href="admin/article/detail/${resource.id}" target="_blank">${resource.title}</a>
      </span>
      <span>${resource.author}</span>
      <span>${resource.create_time}</span>
      <span class="oper">
        <a href="admin/article/edit/${resource.id}" target="_blank" data-id="${resource.id}" class="edit">编辑</a>
        <a href="javascript:void(0);" data-id="${resource.id}" class="del">删除</a>
      </span>
    </div>
    {@/each}
    </script>

    <script type="text/template" id="edit_menu_dlg">
    <div class="">
      <input id="menu_name" placeholder="输入名称" value="${name}" style="line-height:24px;padding: 0 10px;">
    </div>
    </script>
    <script type="text/javascript" src="simditor/scripts/module.js"></script>
    <script type="text/javascript" src="simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="simditor/scripts/simditor.js"></script>
    <script type="text/javascript" src="js/lib/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="js/admin/jsjn/jsjn.js"></script>
    <script type="text/javascript" src="js/admin/jsjn/list.js"></script>
    
    <script>
      $(document).ready(function() {
          moka.admin.jsjn.list.init();
      });
    </script>
  </body>
</html>
