/**{box-sizing: content-box;}*/
.main{position: relative;}
.crumb {
    color: #008186;
    font-size: 14px;
    line-height: 30px;
}


/** 导航 */
.nav{height: 50px;line-height: 50px;background-color: #268de1;color: #ffffff;
  font-size: 18px;
  width: 960px;margin: auto;padding: 0 20px;
}
.nav span{text-align: center;margin-right: 20px;display: inline-block;cursor: pointer;padding: 0 10px;}
.nav span.active{background-color: #f8f8f8;color: #000000;};
.nav span:hover{opacity: 0.8;}


/** 主页面 */
.main{font-size: 0;}
.top-bar{font-size: 14px;padding: 10px 0 ;}
.top-bar select{border: 1px solid #cccccc;
  line-height: 30px;padding: 0 10px;
  height: 30px;
  cursor: pointer;
}
.top-bar span{border: 1px solid #cccccc;
  line-height: 30px;padding: 0 10px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
}

/**/
.main .onep{width: 100%;font-size: 14px;display: inline-block;*display: inline;
  vertical-align: top;
}


.main .onep .onep-list{margin: 0;padding: 0;padding: 0 10px;}
.main .onep .onep-list li{line-height: 40px;border-bottom: 1px dashed #cccccc;font-size: 0;
  
}
.main .onep .onep-list li:last-child{border-bottom: 0;}
.main .onep .onep-list li a{width: 780px;margin-right: 10px;overflow: hidden;text-overflow: ellipsis;
  font-size: 14px;color: #000000;
  display: inline-block;*display: inline;
  white-space: nowrap;vertical-align: top;
}
.main .onep .onep-list li span{width: 150px;font-size: 14px;color: #999999;
  display: inline-block;*display: inline;
  vertical-align: top;
}


.building{width: 100%;margin-top: 150px; text-align: center; font-size: 18px;color: #cccccc;}


.question-edit{width:600px;}
.question-edit dl {line-height: 30px;}
.question-edit dl dt{display: inline-block;margin: 0;width: 80px;vertical-align: top;}
.question-edit dl dd{display: inline-block;margin: 0;}
.question-edit dl dd select{border: 1px solid #cccccc;width: 100px;}
.question-edit dl dd textarea{border: 1px solid #cccccc;width: 500px;resize:vertical;}
.question-edit .question-option{position: relative;}
.question-edit .question-option p{margin: 0 0 5px 0;}
.question-edit .question-option input{ width: 420px;margin-left:5px;border: 1px solid #cccccc;line-height: 30px;
  padding: 0 5px;
}
.question-edit .question-option em{width: 10px;text-align: left;}
.question-edit .question-option .btn-op{
  font-size: 24px;
  border: 1px solid #cccccc;
  line-height: 30px;
  cursor: pointer;
  padding: 0;
  width: 32px;
  text-align: center;
  display: inline-block;
  position: absolute;
}
.question-edit .question-option .btn-op.disabled{
  cursor: normal;
  background-color: #d8d8d8;
}

.question-edit .question-option .btn-op:hover{opacity: 0.7}
.question-edit .question-option .btn-op.disabled:hover{opacity: 1}

.question-edit .question-option .btn-op.add{
  right: 12px;top: 0
}

.question-edit .question-option .btn-op.del{
  right: 12px;;top: 37px;
}