<!DOCTYPE html>
<html>
  <head>
    <title>用户管理</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/admin/user/list.css' />
  </head>
  <body>
    <%- include ../common/header.ejs %>
  	<div class="container">
    	<div class="title" >
    		用户管理
    		<a class="btn" style="float:right;margin-right:10px;" href="admin/index" >返回</a>
    	</div>
    	<div class="search-panel" >
    		<dl>
    			<dt>ID</dt><dd><input id="user_id" ></dd>
    			<dt>姓名</dt><dd><input id="user_name" ></dd>
    			<dt>手机</dt><dd><input id="user_tel" ></dd>
    			<dt>邮箱</dt><dd><input id="user_email" ></dd>
    			<dd>
    				<span id="btn_search" class="s-btn" >查询</span>
    			</dd>
    		</dl>
    	</div>

		<div class="oper-panel" >
			<!-- <span id="btn_add_user" class="btn" >添加</span> -->
		</div>

    	<div class="list-table" >
    		<table>
    			<thead>
    				<tr>
    					<th>ID</th>
    					<th>姓名</th>
    					<th>邮箱</th>
    					<th>手机</th>
    					<th>积分</th>
    					<th>状态</th>
    					<th>注册时间</th>
    					<th style="width:80px;">操作</th>
    				</tr>
    			</thead>
    			<tbody id="user_list"></tbody>
    		</table>
    		<div id="pagebar"></div>
    	</div>

	</div>

	<script type="text/juicer" id="user_list_tpl">
	{@each list as obj}
		<tr>
			<td>${obj.id}</td>
			<td>${obj.name}</td>
			<td>${obj.email}</td>
			<td>${obj.tel}</td>
			<td>${obj.score}</td>
			<td>
				{@if obj.status == -1}
					禁用
				{@/if}
				{@if obj.status == 0}
					未审核
				{@/if}
				{@if obj.status == 1}
					已审核通过
				{@/if}
				{@if obj.status == 2}
					审核拒绝
				{@/if}
			</td>
			<td>${obj.create_time|dateFormat}</td>
			<td class="oper">
				<span data-id="${obj.id}" class="info" >资料</span>
				<span data-id="${obj.id}" class="edit" >编辑</span>
			</td>
		</tr>
	{@/each}
	</script>
	
	<script type="text/javascript" src='js/admin/user/list.js'></script>

	<script type="text/javascript">
		$(document).ready(function(){
			moka.admin.user.list.init();
		});
	</script>
  </body>
  </body>
</html>
