<!DOCTYPE html>
<html>
  <head>
    <title>军事理论教学</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/user/jsll/jsll.css' >
    <style type="text/css">
    .header{
        display: none;
    }
    .container{
        background: transparent;
    }
    </style>
  </head>
  <body>
    <div class="bg">
        <%- include ../common/header.ejs %>
        <div class="gf-content">
            <img src="img/index/jslljx-logo.png"/>
            <div class="gfjyzy-img">
                <a href="jsll/list/outline">
                    <img src="img/index/jslljx-ico1.png" />
                </a>
                <a href="jsll/list/tbook">
                    <img src="img/index/jslljx-ico3.png" />
                </a>
                <a href="jsll/list/tplan">
                    <img src="img/index/jslljx-ico2.png" />
                </a>
                <a href="jsll/list/ppt">
                    <img src="img/index/jslljx-ico4.png" />
                </a>
            </div>
        </div>
        <div class="container" style="display:none;">
            <div class="index-main" >
                <div class="sys-logo"> <div class="sys-title"></div></div>
                <!-- <div class="sys-enter">
                  <a href="jsll/list"><div class="btn btn-lg btn-primary btn-shadow">进入系统</div></a>
                </div> -->
                <div class="sys-panel">
                    <a href="jsll/list/outline">
                      <div class="sys-info">
                          <div class="sys-info-img">
                              <img src="img/paper/study.png" class="img-thumbnail">
                          </div>
                          <div class="sys-info-txt">法规</div>
                      </div>
                    </a>
                    <a href="jsll/list/tbook">
                      <div class="sys-info">
                          <div class="sys-info-img">
                            <img src="img/paper/exam.png" class="img-thumbnail">
                          </div>
                          <div class="sys-info-txt">教材</div>
                      </div>
                    </a>
                    <a href="jsll/list/tplan">
                      <div class="sys-info">
                          <div class="sys-info-img">
                              <img src="img/paper/setting.png" class="img-thumbnail">
                          </div>
                          <div class="sys-info-txt">教案</div>
                      </div>
                    </a>
                    <a href="jsll/list/ppt">
                      <div class="sys-info">
                          <div class="sys-info-img">
                              <img src="img/ppt.png" class="img-thumbnail">
                          </div>
                          <div class="sys-info-txt">课件</div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="main" style="display:none;">

                <div class="login-panel">
                  <div class="sys-info">
                    <div class="sys-info-txt">
                      国防教育理论，文字，课件，视频，资源都在这里
                    </div>
                    <div class="sys-info-img">
                      <div class="">
                        <img src="img/resource/file.png" class="img-thumbnail">
                      </div>
                      <div class="">
                        <img src="img/resource/video.png" class="img-thumbnail">
                      </div>
                      <div class="">
                        <img src="img/resource/data.png" class="img-thumbnail">
                      </div>  
                    </div>
                  </div>
                  
                  <div class="login-bg">
                    <form method="post" action="auth/user/login">
                      <h3>登录</h3>
                      <input type="hidden" name="sysType" value="jsll">
                      <input class="form-control" name="email" type="text" placeholder="用户名/邮箱">
                      <input class="form-control" name="password" type="password" placeholder="密码">
                      <% if(typeof errmsg != 'undefined'){%>
                      <div class="alert alert-danger" role="alert"><%= errmsg %></div>
                      <% } %>
                      <div class="login-btn-wrapper">
                        <button type="submit" class="btn btn-primary">登录</button>
                        <a href="user/register" class="btn btn-primary" role="button">注册</a>
                      </div>
                    </form>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
