<!DOCTYPE html>
<html>
  <head>
    <title>创建资源</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/admin/article/detail.css' />
  </head>
  <body>
    <%- include ../common/header.ejs %>   
  	<div class="container">
  		<div class="res-title">创建资源</div>
  		<div class="main">
  			<div class="t-input">
  				<label>资源标题</label><input id="title" placeholder="输入文章标题">
  			</div>
  			<div class="t-input">
  				<label>作者名称</label><input id="author" placeholder="输入作者名称">
  			</div>
        <div class="t-input">
          <label>资源描述</label><textarea id="description" placeholder="输入资源描述"></textarea>
        </div>
  			<div class="t-input">
          <label>上传资源</label>
          <span id="btn_upload" class="u-button blue">选择文件</span>
          <span id="filename" class="filename">文件名称</span>
          <p id="process_bar" class="process-bar" ><span id="process_rate">0%</span></p>
        </div>
        <div class="t-input">
          <label>所属栏目</label>
          <div class="u-select-p">
          <% if(typeof menuList != 'undefined'){%>
          <% for(var index in menuList) { %> 
          <% var menu = menuList[index]; %> 
          <span class="s-menu" data-id="<%= menu.id %>" ><%= menu.name %></span>
          <% } %> 
          <% } %> 
          </div>
        </div>
  			<div class="t-btn">
         

          <div id="btn_commit" class="u-button">提交</div>
  			</div>
  			
  		</div>
  		<div class="footer"></div>
  	</div>
	
	<script type="text/javascript" src="js/admin/article/upload.js"></script>
  <script type="text/template" id="menu_list_tpl">
  {@each list as menu}
  <option value="${menu.id}">${menu.name}</option>
  {@/each}
  </script>

 	<script>
 		$(document).ready(function() {
	      	moka.admin.article.upload.init({});
	    });
 	</script>

  </body>
</html>