<!DOCTYPE html>
<html>
  <head>
    <title>数字资源</title>
    <%- include common/meta.ejs %>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <div class="banner">
      <div class="t-logo">系统logo占位</div>
      <!-- <div class="search-bar"></div> -->
      <div class="search-box">
         <div class="input-group clearfix">
             <input type="text" value="" placeholder="请输入搜索关键词" name="keyword" autocomplete="off" id="keyword">
             <div class="btn-submit">
                 <button href="javascript:void(0);" type="submit" id="btn_search">
                     <i class="icon icon-search icon-large"></i>
                 </button>
             </div>
         </div>
      </div>
    </div>
    <div class="nav">
      <span>
        <a href="javascript:void(0);" class="disabled" >中心介绍</a>
      </span>
      <span>
        <a href="javascript:void(0);" class="disabled" >英模人物</a>
      </span>
      <span>
        <a href="/article/list" >数字资源</a>
      </span>
    </div>
  	<div class="container">
      <div class="main">
        <div class="thp">
          <div class="thp-banner">
            中心介绍
            <div class="more-link"><a href="/article/list" >更多</a></div>
          </div>
          <ul class="thp-list">
            <li>
              <a href="javascript:void(0);">中心性质、发展规划、建设计划、中心设置及职能</a>
              <span class="date">10-09</span>
            </li>
            <li>
              <a href="javascript:void(0);">中心设置及职能</a>
              <span class="date">10-09</span>
            </li>
            <li>
              <a href="javascript:void(0);">中心设置及职能</a>
              <span class="date">10-09</span>
            </li>
            <li>
              <a href="javascript:void(0);">中心设置及职能</a>
              <span class="date">10-09</span>
            </li>
          </ul>
        </div>
        <div class="thp">
          <div class="thp-banner disabled">
            模块2
            <div class="more-link">更多</div>
          </div>
        </div>
        <div class="thp">
          <div class="thp-banner disabled">
            模块3
            <div class="more-link">更多</div>
          </div>
        </div>
      </div>
	  </div>
  </body>
</html>
