@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select{margin: 0;padding: 0;border: 0;}
table{ border-collapse:collapse;}
body{font-size:12px;color:#333; font-family:"微软雅黑"; background:url(../images/spBodyback.jpg);}
img,a{border:0; text-decoration:none;}
ol, ul {list-style: none; }
.clears{ clear:both;}
a{color:#333;}
a:hover{color:#F00;}

/*top*/
.top{width:100%;height:214px; background:#BC0C0E url(../images/sp_top.jpg) center top no-repeat; text-align:center;}
.top a{ display:block;width:100%;height:214px; }

/*nav*/
.nav{height:35px; background:url(../images/sp_navBacks.jpg) left bottom repeat-x; position:relative;top:-10PX;}
.nav ul{width:802px;margin:0 auto;height:35px;background:url(../images/sp_navBack.jpg) left top no-repeat;padding:0 100px;}
.nav li{width:100px;height:35px;line-height:35px;float:left; text-align:center;font-size:14px; background:url(../images/sp_navList.jpg) left center no-repeat;}
.nav a{color:#FCE304;}
.nav a:hover{color:#FFF;}

/*cont*/
.cont{width:960px;margin:0 auto;background:#FFF;padding:15px 10px; position:relative;top:-10px;}
.new1Box{margin-bottom:10px;}
.new1Left{width:297px;height:213px;float:left; background:#BC0C0E;}
.new1Mid{width:383px;float:left;margin-left:6px;}
.new1New {padding:0 6px;}
.new1New li{height:27px;line-height:27px;border-bottom:dashed 1px #CCC;padding-left:2px; position:relative;color:#900;}
.new1New li span{ position:absolute;right:1px;top:0;color:#999;}
.new1Right{width:255px;float:right;}
.newTitle{height:31px;line-height:31px;padding-left:8px; background:url(../images/left_lan_hd_bj03.gif) left top no-repeat;font-size:12px;color:#FFDD86; position:relative;}
.more{ position:absolute;color:#FFDD86;right:5px;top:0;}
.new1Right .new1New{border:#DFDBDC 1px solid;height:185px;height:auto !important;min-height:185px;}
.new1Right .new1New li{height:29px;line-height:29px;}

/*new2Box*/
.new2Box{margin-bottom:10px;}
.new2Left{width:255px;float:left;}
.boxHeight{border:#DFDBDC 1px solid;height:206px;height:auto !important;min-height:206px;}
.game{}
.game dl{width:82px;float:left;margin:10px 0 0 2px;}
.game dt{width:82px;height:45px; overflow:hidden;}
.game dd{line-height:18px; text-align:center;}
.news2Mid{width:394px;float:left;margin-left:7px;}
.newTitle2{height:31px;line-height:31px;padding-left:8px; background:url(../images/left_lan_hd_bj02.gif) left top no-repeat;font-size:12px;color:#FFDD86; position:relative;}
.news2Mid li{width:66px;height:83px;float:left;margin:15px 0 0 25px;}
.news2Mid li img{width:66px;height:83px;}
.new2Right{width:297px;float:right;}
.newTitle3{height:31px;line-height:31px;padding-left:8px; background:url(../images/left_lan_hd_bj04.gif) left top no-repeat;font-size:12px;color:#FFDD86; position:relative;}
.music{width:100%;}
.music td{height:29px;}
.ruan{}
.ruan dl{width:82px;float:left;margin-top:12px;}
.ruan dt{width:82px;height:58px; text-align:center;}
.ruan dd{ text-align:center;}
.dv{}
.dv dl{width:168px;height:88px;overflow:hidden;float:left;margin:9px 0 0px 18px; position:relative;}
.dv dt,.dv dt img{width:168px;height:88px;}
.dv dd{height:20px; background:url(../images/dvback.png);line-height:20px; text-align:center;color:#fff; position:absolute;bottom:0;left:0;width:168px}
.dv dd a{color:#FFF;}
.dv dd a:hover{color:#CCC;}
.imgs{padding:4px;}
.newTitle4{height:31px;line-height:31px;padding-left:8px; background:url(../images/left_lan_hd_bj05.gif) left top no-repeat;font-size:12px;color:#FFDD86; position:relative;}

/*game*/
.positions{height:24px;line-height:24px; position:relative;}
#sp_sub{width:225px;height:24px; position:absolute;right:0;top:0;}
.sp_sub{width:225px;height:24px; position:relative;}
.sp_subLeft{background:none;border:none;padding:0;margin:0;width:165px;padding-left:4px;height:24px; position:absolute;left:0;top:0; background:url(../images/sp_subLeft.png) left top no-repeat;}
.sp_subRight{width:56px;height:24px; position:absolute;right:0;top:0;}
.gameBox1{margin-top:10px;}
.gameBox1Left{width:698px;height:260px;border:#CCC 5px solid;float:left;}
.gameBox1Right{width:250px;float:right;}
.h3Title{height:25px;line-height:25px; background:#F5F5F5;}
.h3Title span{float:left;padding:0 10px;height:25px; background:#C24C4A;color:#fff;padding-left:5px;}
.libao{margin-top:12px;}
.libao li{height:32px;line-height:32px; border-bottom:#CCC 1px dotted;padding-left:3px; position:relative;}
.libao li span{ display:block;width:30px;height:22px; position:absolute; background:#C60; text-align:center;line-height:25px;right:1px; top:4px;color:#FFF; cursor:pointer;}
.gameBox2{margin-top:10px;}
.gameList{}
.gameList dl{width:128px;float:left; margin:10px 5px 0 0;display:inline;}
.gameList dt{width:50px;height:50px; float:left;}
.gameList dt img{width:50px;height:50px;}
.gameList dd{width:68px;float:right;line-height:30px;}
.gameBox3Left{width:340px; float:left;margin-right:15px;}
.gameBox3Left dl{margin:13px 0;}
.gameBox3Left dt{width:98px;height:98px;float:left;}
.gameBox3Left dt img{idth:98px;height:98px;}
.gameBox3Left dd{width:235px;float:right;}
.gameBox3Left dd h1{font-size:18px;color:#F96827;}
.gameBox3Left dd p{color:#999;line-height:20px;margin-top:5px;}
.gameList2{}
.gameList2 li{height:30px;line-height:30px;pading-left:2px; border-bottom:#CCC 1px dotted; position:relative;}
.gameList2 li span{ position:absolute;right:0;top:0;color:#999;}
.gameBox3Right{width:250px;float:right;}
.gameBoxTable{width:100%;}
.gameBoxTable td{height:30px;border-bottom:#CCC 1px dotted;}

/*book*/
.bookBox1{margin-top:10px;}
.bookBox1Left{width:718px;float:left;}
.bookBox1Right{width:230px;float:right;}
.bookBox1Right dt{width:80px;height:102px;border:#CCC 1px solid;padding:2px;float:left;}
.bookBox1Right dd{width:130px;float:left;margin-left:10px;}
.bookBox1Right dd h2{color:#900;font-size:14px;height:25px;line-height:25px;}
.book1Par{line-height:20px;color:#999;}
.yuedu{color:#063;margin-left:80px;}
.bookList{}
.bookList li{height:26px;line-height:26px;}
.bookList li span{color:#060;}
.bookList2{float:left;width:235px;}
.bookList2 dt{width:96px;height:136px;float:left;}
.bookList2 dd{width:130px;float:left;margin-left:5px;}
.bookList2 dd h2{color:#09F;font-size:14px;height:25px;line-height:25px;}
.bookBox3{margin-top:10px;}
.bookBox3 dl{width:110px;float:left;margin:10px 0px 0 22px;}
.bookBox3 dt,.bookBox3 dt img{width:110px;height:158px;}
.bookBox3 dd{height:22px;line-height:22px; text-align:center;}
.bookBox3 dd.hui{color:#999;}

/*music*/
.musicBox1{margin-top:10px;}
.musicBox1Left{width:718px;float:left;}
.musicBox1Right{width:234px;float:right;}
.musicBox1Right dl{width:48px;float:left; display:inline;margin:10px 10px 0 0;}
.musicBox1Right dt,..musicBox1Right dt img{width:48px;height:48px;}
.musicBox1Right dd{height:30px;line-height:30px; text-align:center;}
.musicBox2{margin-top:10px;}
.musicBox2Left{width:718px;float:left;}
.musicBox2Left dl{width:120px;float:left;margin:10px 0 0 20px;}
.musicBox2Left dt,.musicBox2Left dt img{width:120px;height:120px;}
.musicBox2Left dd{height:20px;line-height:20px; text-align:center;}
.musicBox2Right{width:235px;float:right;}
.musicTable{margin-top:15px; width:100%;}
.musicTable td{height:35px;}
.musicTable td i{margin-left:10px;}
.music3List{width:230px;float:left;margin-left:10px;}
.musicBox3{margin-top:10px;}

/*softBox1*/
.softBox1{margin-top:10px;}
.softBox1Left{width:718px;float:left;}
.softBox1Right{width:235px;float:right;}
.softList{}
.softList dl{width:48PX;float:left;margin:15px 0px 4px 20px; display:inline;}
.softList dt,.softList dt img{width:48px;height:48px;}
.softList dd{height:25px;line-height:25px; text-align:center;}
.softBox2{margin-top:10px;}
.softBox2Left{width:550px;float:left;}
.softBox2Right{width:400px;float:right;}
.softTable{width:100%;}
.softTable td{height:30px;border-bottom:dotted 1px #CCC;}
.softBox3{margin-top:10px;}

/*video*/
.videoBox1{margin-top:10px;}
.videoBox1Left{width:370px;float:left;}
.videoBox1Right{width:589px;float:right;}
.videoList{}
.videoList dl{width:178px;float:left; margin:0 0 10px 16px;display:inline;}
.videoList dt,.videoList dt img{width:178px;height:101px;}
.videoList dd{height:25px;line-height:25px; text-align:left;font-size:14px;}
.videoList dd.bofang{ padding-left:20px; background:url(../images/bofang.jpg) 3px center no-repeat;font-size:12px; color:#999;}
.videoBox2 .videoList dl{margin:10px 0 0 12px;}

/*photo*/
.photoList{margin-top:10px;}
.photoList dl{width:178px;height:101px;float:left; position:relative;margin:10px 0 0 11px;}
.photoList dt,.photoList dt img{width:178px;height:101px;}
.photoList dd{height:25px;line-height:25px; text-align:center; background:url(../images/dvback.png); position:absolute;left:0;bottom:0;width:178px;color:#FFF;}
.detailsCont{line-height:25px;}




/*图片滚动*/
#demo {
background: #FFF;
overflow:hidden;
width: 960px;
}
#demo img {
width:155px;height:90px; position:absolute;left:9px;top:26px;
}
#demo a{ float:left;width:173px;height:144px; background:url(../images/videoback.gif) left top no-repeat; position:relative;}
#indemo {
float: left;
width: 800%;
}
#demo1 {
float: left;
}
#demo2 {
float: left;
}
.footer{line-height:22px;margin-top:20px;}


/*弹出视频*/
#show{background:url(../images/photo.jpg)}
#meun1{color:#fff; padding-left:10px;}
#meun1 img{ float:left;}
#submeun1{ margin-left:70px; float:left;}
#submeun1 li{ text-align:center;  margin-right:10px; float:left;  display:inline;}
#submeun1 li a{ color:#fff;height:50px; line-height:50px;  font-size:14px; font-weight:bold; text-align:center;  padding-left:15px; padding-right:15px;display:block;}
#submeun1 li.cur{ text-align:center; background:#82ce18; margin-right:10px;float:left;  display:inline;}
#top1{
	background-color:#000;
	margin: 0em 0 10px 0em;
	border-style:solid; border-width:1px; border-color:#E5E5E5;
	height:50px;
	line-height:50px;
}
div.subtitle{
	font-size:13px;
	float:right;
	color:#6CBD45;
	margin:0 10px;
	text-align:right;
}

h1.title{
	height:50px;    
    font-size:12px;
	background:url(logo.png) no-repeat;
	
}
h1.title a:link,h1.title a:visited,h1.title a:hover{
	color:#000;
	text-decoration:none;
}
#quirkyPopupShowBtn { position: absolute; top: 0; right: 0; width: 35px; height: 64px; background: url(../images/quirkyPopupShowBtn.gif) no-repeat; }
#quirkyPopupShowBtn:hover { background: url(../images/quirkyPopupShowBtn.gif) no-repeat 0 -70px; }
#messageBoardContainer { width: 354px; height: 0px; position:absolute; top: 300px; left: 450px; overflow: hidden; z-index: 5;}
#messageBoard { width: 354px; height: 294px; position: absolute; }
#messageBoard .wrap { width: 344px; height: 284px; background: #ededed; border: 1px solid #f2f2f2; position: absolute; top: 4px; left: 4px; z-index: 2; }
#messageBoard .bg { width: 354px; height: 294px; background: #000000; position: absolute; top: 0; left: 0; filter: alpha(opacity=30); opacity: 0.3; z-index: 1; }
#messageBoard h2 { height: 24px; background: url(../images/messageBoard.gif) repeat-x 0 -24px; font-size: 12px; font-weight: normal; color: #666; padding-left: 10px; cursor: move; }
#messageBoard h2 span { line-height: 22px; }
#messageBoard h2 a { position: absolute; top: 5px; right: 6px; width: 11px; height: 11px; overflow:hidden; background: url(../images/messageBoard.gif) no-repeat; }
#messageBoard h2 a:hover { background: url(../images/messageBoard.gif) no-repeat 0 -12px; }
#messageBoard .content { padding: 10px 20px; }
#messageBoard .content p { line-height: 30px; font-size: 12px; color: #666666; }
#messageBoard .content p a { font-family: arial; font-weight: bold; color: #cc3333; border-bottom: 1px dotted #cc3333; }
#messageBoard .content p a:hover { position: relative; top: 1px; color: #cc0000; }
#messageBoard .red { color: #cc3333; }
#messageBoard .indent { text-indent: 24px; }
#messageBoard .date { text-align: right; }

.jquery-lightbox-overlay {
	BACKGROUND: #000000
}
.jquery-lightbox {
	POSITION: relative; PADDING-BOTTOM: 17px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 17px
}
.jquery-lightbox-border-top-left {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 12%; HEIGHT: 17px
}
.jquery-lightbox-border-top-right {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 12%; HEIGHT: 17px
}
.jquery-lightbox-border-bottom-left {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 12%; HEIGHT: 17px
}
.jquery-lightbox-border-bottom-right {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 12%; HEIGHT: 17px
}
.jquery-lightbox-border-top-left {
	BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat 0px 0px; TOP: 0px; LEFT: 0px
}
.jquery-lightbox-border-top-right {
	BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat right 0px; TOP: 0px; RIGHT: 0px
}
.jquery-lightbox-border-top-middle {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 78%; BACKGROUND: #2b2b2b; HEIGHT: 7px; OVERFLOW: hidden; TOP: 0px; LEFT: 12%
}
.jquery-lightbox-border-bottom-left {
	BOTTOM: 0px; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat 0px bottom; LEFT: 0px
}
.jquery-lightbox-border-bottom-right {
	BOTTOM: 0px; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat right bottom; RIGHT: 0px
}
.jquery-lightbox-border-bottom-middle {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 78%; BOTTOM: 0px; BACKGROUND: #2b2b2b; HEIGHT: 7px; OVERFLOW: hidden; LEFT: 12%
}
.jquery-lightbox-title {
	Z-INDEX: 7000; POSITION: absolute; PADDING-BOTTOM: 5px; LINE-HEIGHT: 14px; MARGIN: 3px; PADDING-LEFT: 8px; BOTTOM: 0px; PADDING-RIGHT: 8px; FONT-FAMILY: verdana, arial, serif; BACKGROUND: #2b2b2b; COLOR: #ffffff; FONT-SIZE: 11px; PADDING-TOP: 5px; opacity: 0.9
}
.jquery-lightbox-html {
	Z-INDEX: 7000; BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: #2b2b2b 7px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; BORDER-RIGHT: #2b2b2b 7px solid; PADDING-TOP: 0px
}
.jquery-lightbox-html EMBED {
	VERTICAL-ALIGN: top
}
.jquery-lightbox-html OBJECT {
	VERTICAL-ALIGN: top
}
.jquery-lightbox-html IFRAME {
	VERTICAL-ALIGN: top
}
.jquery-lightbox-background {
	Z-INDEX: 6999; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; TOP: 7px; PADDING-TOP: 0px; LEFT: 7px
}
.jquery-lightbox-background IMG {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.jquery-lightbox-mode-image .jquery-lightbox-html {
	Z-INDEX: 6998; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.jquery-lightbox-mode-html .jquery-lightbox-background {
	BACKGROUND: #ffffff
}
.jquery-lightbox-mode-html .jquery-lightbox-html {
	OVERFLOW: auto
}
.jquery-lightbox-loading {
	BACKGROUND: url(../images/loading.gif) #ffffff no-repeat center center
}
.jquery-lightbox-mode-html .jquery-lightbox-loading {
	BACKGROUND: url(../images/loading.gif) #ffffff no-repeat center center
}
.jquery-lightbox-button-close {
	POSITION: absolute; WIDTH: 29px; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -190px -115px; HEIGHT: 29px; TOP: 12px; RIGHT: -26px
}
.jquery-lightbox-button-close:hover {
	BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -220px -115px
}
.jquery-lightbox-button-close SPAN {
	DISPLAY: none
}
.jquery-lightbox-buttons SPAN {
	DISPLAY: none
}
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
	Z-INDEX: 7002; RIGHT: 14px
}
.jquery-lightbox-buttons {
	Z-INDEX: 7001; POSITION: absolute; DISPLAY: none; HEIGHT: 39px; TOP: 7px; LEFT: 7px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-init {
	WIDTH: 5px; DISPLAY: inline; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
	WIDTH: 5px; DISPLAY: inline; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-init {
	MARGIN: 7px 0px 0px 7px; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -151px -153px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
	MARGIN: 7px 0px 0px; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -244px -153px
}
.jquery-lightbox-buttons .jquery-lightbox-button-left {
	MARGIN: 7px 0px 0px; WIDTH: 24px; DISPLAY: inline; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -156px -153px; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-button-left:hover {
	BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -156px -194px
}
.jquery-lightbox-buttons .jquery-lightbox-button-right {
	MARGIN: 7px 0px 0px; WIDTH: 24px; DISPLAY: inline; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -220px -153px; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-button-right:hover {
	BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -220px -194px
}
.jquery-lightbox-buttons .jquery-lightbox-button-max {
	MARGIN: 7px 0px 0px; WIDTH: 36px; DISPLAY: inline; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -182px -153px; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-button-max:hover {
	BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -182px -194px
}
.jquery-lightbox-buttons .jquery-lightbox-button-min {
	MARGIN: 7px 0px 0px; WIDTH: 36px; DISPLAY: inline; BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -162px -235px; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-button-min:hover {
	BACKGROUND: url(../images/jquery-lightbox-theme.png) no-repeat -207px -235px
}
.jquery-lightbox-buttons-custom {
	LINE-HEIGHT: 39px; MARGIN: 7px 0px 0px; DISPLAY: inline; BACKGROUND: #2b2b2b; FLOAT: left; HEIGHT: 39px; FONT-SIZE: 10px
}
.jquery-lightbox-buttons-custom A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline; COLOR: #ffffff; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
	opacity: 0.7
}
.jquery-lightbox-mode-image .jquery-lightbox-buttons {
	opacity: 0.3
}
.jquery-lightbox-mode-image:hover .jquery-lightbox-buttons {
	opacity: 0.9
}
.jquery-lightbox-mode-image:hover .jquery-lightbox-button-close {
	opacity: 0.9
}
.jquery-lightbox-navigator {
	DISPLAY: none
}

/* 焦点图 */
.focus{width:718px;height:285px;border:1px solid #EEE;position:relative;float:left}
.f426x240{width:718px;height:285px;}
.f426x240 img{width:718px;height:285px}

.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_nav{height:51px;width:31px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;opacity:0.5;text-indent:-9999px;overflow:hidden;text-decoration:none;background:url(../images/i.png) no-repeat 0 -560px;margin-top:-28px}
.rslides_nav:active{opacity:1.0}
.rslides_nav.next{left:auto;background-position:-31px -560px;right:0}
.rslides_tabs{margin:12px auto;clear:both;text-align:center}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px}
.rslides_tabs a{text-indent:-9999px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:rgba(0,0,0, .2);background:#DDD;display:inline-block;_display:block;*display:block;width:9px;height:9px}
.rslides_tabs .rslides_here a{background:rgba(0,0,0, .6);background:#390}
.rslides_tabs{ position:relative;top:-25px;}

/*分页代码*/
div.yahoo2{padding:3px;font-size:0.85em;margin:3px;font-family:tahoma,helvetica,sans-serif;text-align:center;}
div.yahoo2 a{border:#ccdbe4 1px solid;padding:2px 8px;background-position:50% bottom;color:#0061de;margin:0 3px 0 0;text-decoration:none;}
div.yahoo2 a:hover{border:#2b55af 1px solid;background-image:none;color:#fff;background-color:#3666d4;}
div.yahoo2 a:active{border:#2b55af 1px solid;background-image:none;color:#fff;background-color:#3666d4;}
div.yahoo2 span.current{padding:2px 6px;font-weight:bold;color:#000;margin:0 3px 0 0;}
div.yahoo2 span.disabled{display:none;}
div.yahoo2 a.next{border:#ccdbe4 2px solid;margin:0px 0px 0px 10px;}
div.yahoo2 a.next:hover{border:#2b55af 2px solid;}
div.yahoo2 a.prev{border:#ccdbe4 2px solid;margin:0px 10px 0px 0px;}
div.yahoo2 a.prev:hover{border:#2b55af 2px solid;}