.question-list{padding: 10px;
	display: none;
	border-bottom: 1px dashed #cccccc;
	display: block;
	color :#000000;
}
.question-list.active{display: block;}
.question-list .qbody{}
.question-list .qanswer-panel{line-height: 1.5;}
.question-list .qanswer{cursor: pointer;line-height: 2;padding: 0 10px;}
.question-list .qanswer.selected{background: blue;color: #ffffff}

.btn-wrapper{margin: 10px;}
.btn-commit{display: inline-block;line-height: 30px;padding: 0 20px;border: 1px solid #cccccc;
	cursor: pointer;
}


.answer-panel{}

.answer-panel .answer-index{line-height:40px;width: 40px;height: 40px;text-align: center;margin: 5px;border: 1px solid #cccccc;
	background-color: #f6f6f6;
}

.answer-panel .answer-index:hover{
	opacity: 0.7;
}

.answer-panel .answer-index.answered{
	background-color: #70B4E0;
	color: #ffffff;
}
