.main{padding: 20px;display: inline-block;vertical-align: top;position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.question-panel{
	/*padding: 10px;*/
	/*border-bottom: 1px dashed #cccccc;*/
	color :#000000;
	font-size:14px;
	
}
.question-panel.active{display: block;}
.question-list{margin-bottom: 15px;}
.question-list .qbody{font-size: 15px;font-weight: bold;}
.question-list .qanswer-panel{line-height: 1.5;}
.question-list .qanswer{cursor: pointer;line-height: 2;padding: 0 10px;}
.question-list .qanswer.selected{background: blue;color: #ffffff}

.rtanswer{line-height: 2;padding: 0 10px;}

#content_title{position: relative;}
#content_title .exam-info{position: absolute;right: 5px;top: 0}