<!DOCTYPE html>
<html>
  <head>
    <%- include ../common/meta.ejs %>
    <title>学习考试管理</title>
    <link rel='stylesheet' href='css/admin/question/import.css' >
    <link rel='stylesheet' href='css/admin/paper/list.css' >
  </head>
  <body>
    <%- include ../common/header.ejs %>
  	<div class="container">
      <div class="fpanel">
        <ul class="nav nav-tabs sub-nav">
          <li data-type="1" >
            <a href="admin/paper/jsll">军事理论</a>
          </li>
          <li data-type="2" >
            <a href="admin/question/list">题库管理</a>
          </li>
          <li data-type="3" class="active">
            <a href="javascript:void(0);">考试管理</a>
          </li>
          <div class="tool-bar">
            <span id="btn_add"    class="btn btn-primary">创建试卷</span>
            <span id="btn_random" class="btn btn-primary">随机试卷</span>
          </div>
        </ul>
        <div class="main">
          <div>
             <div class="paper-list-title" >
                <div class="name">名称</div>
                <div class="desc">描述</div>
                <div class="oper">操作</div>
            </div>
            <div id="paper_list"></div>
          </div>
          <div id="pagebar"></div>
        </div>
      </div>
	  </div>

   
    <script type="juicer/template" id="paper-list-tpl">
    {@each list as obj, index}
    <div class="paper-list">
      <div class="name">${obj.name}</div>
      <div class="desc">
        {@if obj.description}
          ${obj.description}
        {@else}
          （无）
        {@/if}
      </div>
      <div class="oper">
        <span data-id="${obj.id}" class="edit">编辑</span>
        <span data-id="${obj.id}" class="del">删除</span>
        <span><a href="admin/paper/doc/${obj.id}">导出</a></span>
      </div>
    </div>
    {@/each}
    </script>
    
    <script type="juicer/template" id="dlg-edit-paper-tpl">
    <div class="paper-edit">
      <dl>
        <dt>试卷名称</dt>
        <dd>
          <input id="paper_name" value="${name}">
        </dd>
      </dl>
      <dl>
        <dt>试卷描述</dt>
        <dd>
          <input id="paper_desc" value="${description}">
        </dd>
      </dl>
      <dl id="paper_questions" class="paper-questions">
        <dt>试卷题目</dt>
        <dd>
          {@include questionListTpl, questionListData}
        </dd>
      </dl>
      <div class="dlg-bottom-btn">
        <span data-id="${id}" class="btn-add-questions btn btn-primary">添加题目</span>
        <span data-id="${id}" class="btn-sel-questions btn btn-primary">选择题目</span>
      </div>
    </div>
    </script>

    <script type="juicer/template" id="question-list-tpl">
    {@each list as obj, index}
    <div data-id="${obj.id}" class="question-list">
        <div class="qtype">
          ${index|formatIndex}.&nbsp;${obj.qtype|getQType}
          <span data-id="${obj.id}" class="btn-edit-questions">编辑</span>
        </div>
        <div class="qbody">${obj.qbody}</div>
        {@if obj.qtype == 2 || obj.qtype == 3 || obj.qtype == 4}
          <div class="qanswer">$${obj.qanswer|formatAnswer}</div>
        {@/if}
        <div class="rtanswer">正确答案：${obj.rtanswer}</div>
    </div>
    {@/each}
    </script>

    <script type="juicer/template" id="dlg-edit-question-tpl">
    <div class="question-edit">
      <dl>
        <dt>题目类型：</dt>
        <dd>
          <select id="question_type">
            <option value="2">选择题</option>
            <option value="3">多项选择题</option>
            <option value="4">判断题</option>
            <option value="1">填空题</option>
          </select>
        </dd>
      </dl>
      <dl>
        <dt>题干</dt>
        <dd>
          <textarea id="question_body">${qbody}</textarea>
        </dd>
      </dl>
      <dl class="question-option">
        <dt>选项</dt>
        <dd class="option-panel">
          <p><em>A</em>:<input></p>
          <p><em>B</em>:<input></p>
        </dd>
        <span class="btn-op add">＋</span>
        <span class="btn-op del disabled">－</span>
      </dl>
      <dl>
        <dt>答案</dt>
        <dd>
          <textarea id="question_rtanswer">${rtanswer}</textarea>
        </dd>
      </dl>
    </div>
    </script>

    <script type="text/javascript" src="js/common/question.js"></script>
    <script type="text/javascript" src="js/admin/question/import.js"></script>
    <script type="text/javascript" src="js/admin/paper/list.js"></script>
    
    <script>
      $(document).ready(function() {
        $('#navfouce .paper').addClass('current');
        moka.admin.paper.list.init();
      });
    </script>
  </body>
</html>
