.container{
	width: 1024px;
	max-height: 768px;
	padding: 0 !important;
}

.wrapper{
	padding-top: 120px;
	border-top: 1px solid #cccccc;
}

.main-sys{
	width: 1024px;
	height: 768px;
	background-image: url(../../../jsjn/00180[1024x768x24BPP].jpg);
	background-size: 1024px 768px;
	background-position: center;
}

.sidebar {
	width: 280px;
	padding: 90px 0 0 0;
	display: inline-block;
	font-size: 14px;
	height: 500px;
}

.sidebar ul.res-menu{
	text-align: center;
}
.sidebar ul.res-menu li {
	display: inline-block;
	padding-right: 56px;
	margin-bottom: 15px;
    cursor: pointer;
}
.sidebar ul.res-menu li.active{
	background-image: url(../../../jsjn/menu/cursor.png);
	background-size: 56px 56px;
	background-position: right center;
	background-repeat: no-repeat;
}
.sidebar ul.res-menu li .def{
	display: inline-block;
}
.sidebar ul.res-menu li .hover{
	display: none;
}
.sidebar ul.res-menu li:hover .def{
	display: none;
}
.sidebar ul.res-menu li:hover .hover{
	display: inline-block;
}


.main{
	width: 730px;
	display: inline-block;vertical-align: top;
	padding: 20px 0 20px 20px;
	font-size:14px;color:#333;
	min-height: 500px;
}

.main-title{
	height: 50px;
	
}
.main-list{
	margin-top: 60px;
}

.main-list .main-menu-list li{
	width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;

}
.main-list .main-menu-list li .def{
	display: inline-block;
}
.main-list .main-menu-list li .hover{
	display: none;
}
.main-list .main-menu-list li:hover .def{
	display: none;
}
.main-list .main-menu-list li:hover .hover{
	display: inline-block;
}

.main-list .main-menu-list li.video-wrapper{
	width: 200px;
	height: 150px;
	display: inline-block;margin-left: 20px;
	margin-bottom: 40px;
	float: left;
	background-color: #000000;
}
.main-list .main-menu-list li.video-wrapper video{width: 100%;height: 100%;}

.video-panel{
    width: 728px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #333;
    height: 526px;
    position: absolute;
    top: 152px;
    left: 247px;
    z-index: 9;
    background: #000;
    border-radius: 10px;
    display: none;
}

.video-panel video{
	width: 100%;
	height: 100%;
}
