.bg{
  background-image: url('../../../img/sky.jpg');
  width: 100%;height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: auto;
}
.container{width: 1000px;background: transparent;
  background-color: rgba(255,255,255,0.5);
  position: relative;
}

.index-main{
  padding-top: 30px;
}


.index-main .sys-logo{
  width: 600px;
  height: 120px;
  background-image: url("../../../img/logo.png");
  background-position: center left;
  background-size: auto 120px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-left: 120px;
}

.index-main .sys-title{
  width: 480px;
  height: 120px;
  background-image: url("../../../img/jsjn_title.png");
  background-position: center left;
  background-size: auto 100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}
.index-main .sys-enter{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.index-main .sys-enter .btn{width: 170px;}


.index-main .sys-enter .btn a{
    color: #f6f6f6;
    text-decoration: none;
}
.index-main .sys-enter .btn:hover{
  opacity: 0.6;
}

.sys-info{height: auto}