<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <%- include common/meta.ejs %>
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>

  <div class="login_bg">
    <div style="position:absolute;left:20px;top:20px;" class="login-logo"></div>
      <form method="post" id="ajax_login_form" action="auth/user/login">
        <input name="type" value="1" type="hidden"><!--普通用户登录-->
        <div class="login_con">
          <h1 style="color:#474747">用户登录</h1>
          <div class="login_list">
            <div class="login_line">
              <p>邮箱</p>
              <input type="text" id="email" placeholder="注册邮箱" name="email" class="input_text" >
            </div>
            <div class="login_line">
              <p>密码</p>
              <input type="password" id="password" placeholder="密码" name="password" class="input_text">
            </div>
            <div class="btn_wrap" id="login_submit" style="height:48px;">
              <a href="javascript:void(0)" class="btn_green37" style="width:100%;">登录</a>
            </div>
            <div class="btn_wrap" style="margin:20px 0;height:48px;">
              <a href="user/register" class="btn_green37" style="width:100%;">注册</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
 	
  <script type="text/javascript">
    $(document).ready(function(){
      $('#login_submit').click(function(){
        if(!$('#email').val() || !$('#password').val()){
          alert('邮箱/密码未填写');
        }else{
          $('#ajax_login_form')[0].submit();  
        }
        
      });

      $('body').on('keydown','#ajax_login_form',function(e){
        var event = window.event || e;
        if(event.keyCode == 13){
          if(!$('#email').val() || !$('#password').val()){
          }else{
            $('#ajax_login_form')[0].submit();  
          }
        }
      });
    });
  </script>
  </body>
</html>
