<!DOCTYPE html>
<html>
  <head>
    <%- include common/meta.ejs %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>国防教育研究中心</title>
    <link rel="stylesheet" type="text/css" href="css/index/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/index/slick-theme.css"/>
    <script type="text/javascript" src="js/lib/slick.min.js"></script>
  </head>
  <body>
    <%- include common/header.ejs %>
    <div class="main">
      <div class="index-row">
        <div class="rl">
          <div class="box-title">国防教育信息管理系统</div>
          <ul class="sys-list">
            <li><i class="ico"></i><a target="_blank" href="resource/index" >国防教育资源</a></li>
            <li><i class="ico"></i><a target="_blank" href="jsll/index" >军事理论教学</a></li>
            <li><i class="ico"></i><a target="_blank" href="jsjn/index" >军事技能教学</a></li>
            <li><i class="ico"></i><a target="_blank" href="paper/index" >军事理论考试</a></li>
            <li><i class="ico"></i><a target="_blank" href="hbll/index">国防后备力量</a></li>
            <li><i class="ico"></i><a target="_blank" href="vote/index" >国防教育测评</a></li>
            <li><i class="ico"></i><a target="_blank" href="expert/index" >国防师资力量</a></li>
          </ul>
        </div>
        <div class="rm">
          <div id="pic" class="pic-panel"></div>
          <div class="slick-dots"></div>
        </div>
        <div class="ry">
          <div class="box-title">国防教育信息</div>
          <ul id="gfjy" class="info-panel">、</ul>
        </div>
      </div>

      <div class="index-row">
        <div class="rl">
          <div class="box-title">国防历史</div>
          <ul id="info1" class="info-panel"></ul>
        </div>
        <div class="rm">
          <div class="box-title">国防法规</div>
          <ul id="info2" class="info-panel"></ul>
        </div>
        <div class="ry">
          <div class="box-title">外国军事</div>
          <ul id="info3" class="info-panel"></ul>
        </div>
      </div>

      <div class="index-row">
        <div class="rl">
          <div class="box-title">武器装备</div>
          <ul id="info4" class="info-panel"></ul>
        </div>
        <div class="rm">
          <div class="box-title">国防形势</div>
          <ul id="info5" class="info-panel"></ul>
        </div>
        <div class="ry">
          <div class="box-title">英模人物</div>
          <ul id="info6" class="info-panel"></ul>
        </div>
      </div>
    </div>
    <%- include common/footer.ejs %>
    <script type="text/template" id="news_list_tpl">
    {@each list as news}
    <div style="position:relative;">
      <a href="${news.link}" title="${news.title}" target="_blank" >
        <img src="${news.pic_url}" width="319" height="240">
      </a>
      <span class="news-title" >${news.title}</span>
    </div>
    {@/each}
    </script>

    <script type="text/template" id="article_list_tpl">
    {@each list as res}
    <li>
      <a href="resource/detail/${res.id}" target="_blank">${res.title}</a>
    </li>
    {@/each}
    </script>

    <script type="text/javascript" src="js/index/index.js"></script>
    <script>
      $('#nav_index').addClass('active');
      $(document).ready(function() {
        moka.index.init({});
      });
    </script>
  </body>
</html>
