<!DOCTYPE html>
<html>
  <head>
    <title>数字资源</title>
    <%- include ../common/meta.ejs %>
  </head>
  <body>
  	<div class="container">
      <div class="banner">
        <div class="t-logo"></div>
        <div class="search-bar"></div>
      </div>
    	<div class="nav">
    		<span>
    			<a href="/article/list" >中心介绍</a>
    		</span>
    		<span>
    			<a href="/article/list" >英模人物</a>
    		</span>
        <span>
          <a href="/article/list" >数字资源</a>
        </span>
    	</div>
      <div class="main">
        <div class="thp-1">
          <div class="thp-banner">
            中心介绍
            <div class="more-link">更多</div>
          </div>
          <ul class="thp-list">
            <li>
              <a href="javascript:void(0);">中心性质、发展规划、建设计划、中心设置及职能</a>
              <span class="date"></span>
            </li>
          </ul>
        </div>
        <div class="thp-2">
          <div class="thp-banner">
            中心介绍
            <div class="more-link">更多</div>
          </div>
        </div>
        <div class="thp-3">
          <div class="thp-banner">
            中心介绍
            <div class="more-link">更多</div>
          </div>
        </div>
      </div>
	</div>
  </body>
  </body>
</html>
