<!DOCTYPE html>
<html>
  <head>
    <%- include ../common/meta.ejs %>
    <title>国防教育资源库</title>
    <link rel='stylesheet' href='css/admin/article/list.css' >
    <link rel='stylesheet' href='css/admin/jsll/list.css' >
  </head>
  <body>
    <%- include ../common/header.ejs %>
    <div class="container">
      <ul class="nav nav-tabs">
        <li data-type="1" class="active"><a href="javascript:void(0);">教育资料</a></li>
        <li data-type="2" ><a href="admin/article/list">相关文件</a></li>
      </ul>
      <div class="sidebar">
        <div class="tree-opr">
          <a href="javascript:void(0);" class="unfold">展开</a>
          |<a href="javascript:void(0);" class="add">增加</a>
          |<a href="javascript:void(0);" class="edit">编辑</a>
          |<a href="javascript:void(0);" class="del">删除</a>
          
        </div>
        <div style="overflow:auto;min-height:500px;" >
          <ul id="topic_tree" class="ztree"></ul>
        </div>
      </div>
      <div class="main">
        <div class="info-content" >
          <div id="txt_panel" class="info-content" >
            <textarea class="editor-area" id="content" placeholder="输入文章正文" autofocus></textarea>
            <div class="btn-wrapper" style="font-size:14px;margin-top: 15px;text-align:right;">
              <span id="btn_commit" class="btn btn-primary">提交</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/template" id="resource-tpl">
    <div class="res-list">
      <span class="res-type">类型</span>
      <span class="res-title">标题</span>
      <span>作者</span>
      <span>时间</span>
    </div>
    {@each list as resource}
    <div class="res-list">
      <span class="res-type"><i class="ico ico-${resource.file_name|getFileType}"></i></span>
      <span class="res-title">
        <a href="resource/detail/${resource.id}" target="_blank">${resource.title}</a>
      </span>
      <span>${resource.author}</span>
      <span>${resource.create_time}</span>
    </div>
    {@/each}
    </script>
    <script type="text/template" id="menu_tpl">
    {@each list as resource}
    <li data-id="${resource.id}">
      <a href="javascript:void(0);" class="btn btn-info btn-lg active" role="button">${resource.title}</a>
    </li>
    {@/each}
    </script>

    <script type="text/template" id="edit_menu_dlg">
    <div class="">
      <p><input id="info_name" placeholder="输入名称" value="${name}" style="line-height:24px;padding: 0 10px;"></p>
      
    </div>
    </script>
     <!-- <p><textarea id="info_content" placeholder="输入内容" style="width:600px;height:400px;">${content}</textarea></p> -->
    
    <script type="text/javascript" src="js/admin/article/infoList.js"></script>
    
    <script>
      $(document).ready(function() {
          moka.admin.article.infolist.init();
      });
    </script>
  </body>
</html>
