.container{width: 1000px;padding: 0;position: relative;}
.nav{position: absolute;top: 0;left: 50px;z-index: 2;width: auto;}
.sidebar {
	width: 80px;
	padding: 0;
	display: inline-block;
	font-size: 16px;
	min-height: 500px;
	border-right: 1px solid #cccccc;
	vertical-align: top;
	overflow: auto;
	height: 100%;
	overflow: auto;
}

.sidebar-tab{
	width: 200px;
	height: 40px;
	text-align: center;
	position: absolute;
	top: -40px;
	left: 200px;
}

.sidebar-tab span{
	/*width: 50%;*/
	float: left;
	background-color: #f5f5f5;
	cursor: pointer;
	font-size: 14px;
	margin: 6px 10px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	display: inline-block;
	border-radius: 4px;
}

.sidebar-tab span.active{
	color: #ffffff;
	background-color: #337ab7;
}

.ztree li a{color: #f6f6f6;
	font-size: 14px;
}

.type-panel{}
.type-panel li{border-bottom: 1px solid #999;
	padding: 10px;
	cursor: pointer;
}

.type-panel li.active{
	background-color: #11487e;
}

.type-panel li:hover {
	background-color: #11487e;
	opacity: 0.7;
}


.type-panel li:last-child{border:0;}
.type-panel li .type-ico{
  background-position: center;
  background-size: 40px auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 100%;
}

.type-panel li .res-txt{background-image: url("../../../img/ico/ico-txt.png");}
.type-panel li .res-pic{background-image: url("../../../img/ico/ico-pic.png");}
.type-panel li .res-video{background-image: url("../../../img/ico/ico-video.png");}
.type-panel li .res-ppt{background-image: url("../../../img/ico/ico-ppt.png");}
.type-panel li p{
	padding: 0;
	margin: 0;
    line-height: 20px;
    text-align: center;
    color: #f6f6f6;
}
    
.main{
	/*width: 920px;*/
	width: 1000px;
	display: inline-block;vertical-align: top;
	padding: 10px 20px;
	font-size:14px;color:#333;
	/*border-left: 1px solid #cccccc;*/
	min-height: 500px;
	/*margin-left: -1px;*/
	height: 100%;
	overflow: auto;
}


.info-content{}
.main .res-list{border-bottom: 1px dashed #cccccc;line-height: 48px;color: #f6f6f6;font-size:0;}
.main .res-list:last-child{border-bottom: 0;}
.main .res-list span{width: 150px;display: inline-block;vertical-align: top;font-size:15px;}
.main .res-list-title span{width: 150px;display: inline-block;vertical-align: top;text-align: center;font-size:15px;}
.main .res-list-title span:nth-child(1){width:60px;}
.main .res-list-title span:nth-child(2){width:450px;}
.main .res-list-title span:nth-child(3){width:150px;}
.main .res-list-title span:nth-child(4){width:200px;}

.main .res-list span a {color: #f6f6f6;}
.main .res-list span:nth-child(1){width:60px;}
.main .res-list span:nth-child(2){width:450px;}
.main .res-list span:nth-child(3){width:150px;}
.main .res-list span:nth-child(4){width:200px;}
.main .res-list .ico {
	width: 28px;	height: 28px;
	vertical-align: middle;
}


.sidebar-tree{
	width: 209px;
}

.main-tree{
	width: 780px;
}


.container{
   background-image:url(../../../img/cloud.png);
   background-repeat: repeat-x;
   background-size: 100%;
}
