html{height: 100%;}
body{
  background-image: url('../../../img/bg_star.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.footer{
  position: absolute;
  bottom: 0;
}
.container{width: 1000px;background-image:none;}
.logo-title{
  width: 570px;
  background-image: url("../../../img/resource-title.png");
  background-position: center left;
  background-size: auto 70px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%;
  margin-left: 110px;
}



.index-wrapper{
	margin-top:270px;
	text-align: center;
	width: 100%;
}

.index-wrapper a{width: 150px}

.sys-info-img div{height: 182px;}