.bg{
  /*background-image: url('../../../img/sky.jpg');*/
  
  background-image: url('../../../img/index/gfjyzy-bg.jpg');
  width: 100%;height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: auto;
}
.container{
  width: 1000px;background: transparent;
  position: relative;padding-top: 40px;
}

.tnav{
  position: absolute;top: -40px;
  width: auto;
  z-index: 2;
}

.nav .nav-ul > li{width: 80px;}

.index-main{
  padding-top: 30px;
}


.index-main .sys-logo{
  width: 660px;
  height: 120px;
  background-image: url("../../../img/logo.png");
  background-position: center left;
  background-size: auto 100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-left: 130px;
}

.index-main .sys-title{
  width: 540px;
  height: 120px;
  background-image: url("../../../img/resource_title.png");
  background-position: center left;
  background-size: auto 100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}

.index-main .sys-msg{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: #f6f6f6;
}

.index-main .sys-enter{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.index-main .sys-enter .btn{width: 170px;}
/*.index-main .sys-enter .btn{
  font-size: 20px;
  background-color: rgba(17, 72, 126,0.6);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  padding: 0;
  line-height: 50px;
  border: 2px solid #11487e;
  cursor: pointer;
}*/

.index-main .sys-enter .btn a{
    color: #f6f6f6;
    text-decoration: none;
}
.index-main .sys-enter .btn:hover{
  opacity: 0.6;
}

.sys-info{height: auto}


.sys-panel{
  width: 720px;
  margin: 0 auto;
  margin-top: 45px;
  position: relative;
  font-size: 0;
}

.sys-panel .sys-info{
  width: 160px;
  display: inline-block;
  height: 220px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  margin-right: 20px;
  cursor: pointer;
}


.sys-panel a:last-child div{
  margin-right: 0;
}

.sys-info-img {height: 140px;width: 140px;}
.sys-info-img img{width: 100%;height: 100%;object-fit:cover;}

.sys-info-txt{text-align: center;}
