<!DOCTYPE html>
<html>
  <head>
    <title>国防教育测评</title>
    <%- include ../../common/meta.ejs %>
    <link rel='stylesheet' href='css/user/paper/list.css' >
    
  </head>
  <body>
    <%- include ../../common/header.ejs %>
  	<div class="container">
      <div class="main">
        <div class="top-bar">
          <input id="search_key" value="">
          <span id="btn_search" >查询</span>
        </div>
        <div id="paper_list" ></div>
        <div id="pagebar"></div>
      </div>
	  </div>

   
    <script type="juicer/template" id="paper-list-tpl">
    <div class="paper-list-title" style="display:none;">
        <div class="name">名称</div>
        <div class="desc">描述</div>
        <div class="oper">操作</div>
    </div>
    {@each list as obj, index}
    <div class="paper-list">
      <div class="name">${obj.name}</div>
      <div class="desc">${obj.description}</div>
      <div class="oper">
        <span data-id="${obj.id}" class="view">
          <a href="vote/detail/${obj.id}">查看</a>
        </span>
      </div>
    </div>
    {@/each}
    </script>
    
    <script type="juicer/template" id="question-list-tpl">
    {@each list as obj, index}
    <div data-id="${obj.id}" class="question-list">
        <div class="qtype">
          ${index|formatIndex}.&nbsp;${obj.qtype|getQType}
        </div>
        <div class="qbody">${obj.qbody}</div>
        {@if obj.qtype == 2}
          <div class="qanswer">$${obj.qanswer|formatAnswer}</div>
        {@/if}
        <div class="rtanswer">正确答案：${obj.rtanswer}</div>
    </div>
    {@/each}
    </script>

    <script type="text/javascript" src="js/common/question.js"></script>
    <script type="text/javascript" src="js/user/vote/list.js"></script>
    
    <script>
      $('#nav_jjcp').addClass('aHover');
      $(document).ready(function() {
          moka.user.vote.list.init();
      });
    </script>
  </body>
</html>
