<!DOCTYPE html>
<html>
  <head>
    <title>国防教育测评</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/user/vote/vote.css' >
    <link rel='stylesheet' href='css/user/vote/list.css' >
    <style type="text/css">
      .nav-ul li{display: none;}
      .nav-ul li.index, .nav-ul li.active{display: inline-block;}
    </style>
  </head>
  <body>
    <div class="bg">
      <%- include ../common/header.ejs %>
    	<div class="container">
        <div class="nav tnav">
          <ul class="nav-ul">
            <li class="index">
              <a href="vote/index" >系统首页</a>
            </li>
          </ul>
        </div>
        <div class="main">
          <table class="table table-striped" style="font-size:14px;">
            <thead>
              <tr>
                <td class="">名称</td>
                <td class="">描述</td>
                <td class="">时间</td>
                <td class="">操作</td>
              </tr>
            </thead>
            <tbody id="paper_list"></tbody>
          </table>
          <div id="pagebar"></div>
        </div>
  	  </div>
      <%- include ../common/footer.ejs %>
    </div>
   
    <script type="juicer/template" id="paper-list-tpl">
    
    {@each list as obj, index}
    <tr >
      <td class="name">${obj.name}</td>
      <td class="desc">${obj.description}</td>
      <td class="desc">${obj.create_time}</td>
      <td class="oper">
        <span data-id="${obj.id}" class="">
          <a href="vote/detail/${obj.id}">参与测评</a>
        </span>
        <span data-id="${obj.id}" class="view">
          <a href="javascript:void(0);">查看统计</a>
        </span>
      </td>
    </tr>
    {@/each}
    </script>
    
    <script type="juicer/template" id="question-list-tpl">
    {@each list as obj, index}
    <div data-id="${obj.id}" class="question-list">
        <div class="qtype">
          ${index|formatIndex}.&nbsp;${obj.qtype|getQType}
        </div>
        <div class="qbody">${obj.qbody}</div>
        {@if obj.qtype == 2}
          <div class="qanswer">$${obj.qanswer|formatAnswer}</div>
        {@/if}
        <div class="rtanswer">正确答案：${obj.rtanswer}</div>
    </div>
    {@/each}
    </script>

    <script type="text/javascript" src="js/common/question.js"></script>
    <script type="text/javascript" src="js/user/vote/list.js"></script>
    
    <script>
      $('#nav_jjcp').addClass('aHover');
      $(document).ready(function() {
          moka.user.vote.list.init();
      });
    </script>
  </body>
</html>
