.container{font-size: 0}
.sidebar {width: 179px;border-right: 1px solid #cccccc;
	padding: 10px 0;
	display: inline-block;
}
.sidebar .tree-opr{
	line-height: 24px;font-size: 0;
	border-bottom: 1px solid #cccccc;
}

.sidebar .tree-opr a{display: inline-block;width: 40px;text-align: center;
	font-size: 12px;vertical-align: top;
}

.main{width: 760px;display: inline-block;vertical-align: top;
	padding: 10px 0 20px 20px;
	
}

.main .res-list{border-bottom: 1px dashed #cccccc;font-size: 0;line-height: 40px;}
.main .res-list:last-child{border-bottom: 0;}
.main .res-list span{width: 150px;display: inline-block;font-size: 12px;vertical-align: top;}
.main .res-list-title span{width: 150px;display: inline-block;font-size: 12px;vertical-align: top;text-align: center;}
.main .res-list-title span:nth-child(1){width:450px;}
.main .res-list-title span:nth-child(2){width:100px;}
.main .res-list-title span:nth-child(3){width:150px;}

.main .res-list span:nth-child(1){width:450px;}
.main .res-list span:nth-child(2){width:100px;}
.main .res-list span:nth-child(3){width:150px;}

.main .resource-opr{
	line-height: 24px;font-size: 0;
	border-bottom: 1px solid #cccccc;
	text-align: right;
}

.main .resource-opr a{display: inline-block;width: 40px;text-align: center;
	font-size: 12px;vertical-align: top;
}