.article-title{
	font-family: Arial;
    font-size: 34px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    position: relative;
}

.article-title .btn-wrapper{position: absolute;top: 30px;right: 20px;}
.article-title .btn-wrapper .u-button{margin-left:20px;}
.article-info{
	color: #9e9e9e;
    
    line-height: 40px;
}
.article-info .article-date{
	width: 55%;
	text-align: left;
	font-size: 16px;
	display: inline-block;*display: inline;
}
.article-info .article-author{
	width: 45%;
	text-align: left;	
	font-size: 16px;
	display: inline-block;*display: inline;
}

.article-content{

}

.article-content p img{
	margin: auto;
}



/*.header{height:100px;line-height: 100px;font-size: 36px;font-weight: 700;text-align: center;}*/
.t-input{line-height: 60px}
.t-input input{line-height: 40px;border: 1px solid #cccccc; width: 838px;font-size: 20px;padding: 0 10px;}
.t-input label{line-height: 40px;width: 90px;text-align: right;padding-right: 10px;display: inline-block;*display: inline;font-size: 20px;vertical-align: top;}

.t-input .filename{font-size: 16px;margin-left: 20px;display: none;}
.t-input .process-bar{margin-left: 100px;line-height: 20px;width: 200px;border: 1px solid #cccccc;display: none;}
.t-input .process-bar span{width: 50%;height: 100%;background-color: blue;display: inline-block;}

.detail-article .t-btn{margin-top: 20px;height: 40px;}

.u-select-p{display: inline-block;}
.u-select-p span{line-height: 32px;border: 1px solid #cccccc; width: auto;font-size: 20px;padding: 0 10px;display: inline-block;}
.u-button{float: right;}


.t-input .u-select-p{display: inline-block;padding: 0 10px;}

.t-input .u-select-p select{line-height: 40px;border: 1px solid #cccccc; width: auto;font-size: 20px;padding: 0 10px;margin-right: 5px;}
.t-input .u-button{float: none;    vertical-align: 1px;}



.t-input .text{line-height: 40px; width: 838px;font-size: 20px;padding: 0 10px;display: inline-block;
	vertical-align: top;
}
.t-input .download{line-height: 40px; width: 838px;font-size: 20px;padding: 0 10px;}

.ico {
	width: 30px;height: 30px;display: inline-block;
	vertical-align: middle;
}






.t-input{line-height: 60px}
.t-input input{line-height: 40px;border: 1px solid #cccccc; width: 838px;font-size: 20px;padding: 0 10px;}
.t-input label{line-height: 40px;width: 90px;text-align: right;padding-right: 10px;display: inline-block;*display: inline;font-size: 20px;
	vertical-align: top;
}

.t-input .filename{font-size: 16px;margin-left: 20px;display: none;}
.t-input .process-bar{margin-left: 100px;line-height: 20px;width: 200px;border: 1px solid #cccccc;display: none;}
.t-input .process-bar span{width: 50%;height: 100%;background-color: blue;display: inline-block;}

.detail-article .t-btn{margin-top: 20px;height: 40px;}

.u-select-p{display: inline-block;}
.u-select-p span{line-height: 32px;border: 1px solid #cccccc; width: auto;font-size: 20px;padding: 0 10px;display: inline-block;}
.u-button{float: right;}


.t-input .u-select-p{display: inline-block;}

.t-input .u-select-p select{line-height: 40px;border: 1px solid #cccccc; width: auto;font-size: 20px;padding: 0 10px;margin-right: 5px;}
.t-input .u-button{float: none;    vertical-align: 1px;}



.t-input .text{line-height: 40px; width: 838px;font-size: 20px;padding: 0 10px;}

.t-input .download{line-height: 40px; width: 838px;font-size: 20px;padding: 0 10px;}


.t-preview img{width: 80%;height: auto;}
.t-preview video{width: 80%;height: auto;}


