.container{font-size: 0;width: 1000px;}
.sidebar {
	width: 209px;
    padding: 10px 20px 10px 0;
    display: inline-block;
    font-size: 12px;
    overflow: auto;
    min-height: 500px;
    border-right: 1px solid #cccccc;
}

.sidebar ul.memu-panel li{
	line-height: 40px;height: 40px;
    width: 100%;
    margin-bottom: 15px;
}
.sidebar ul.memu-panel li a{
	/*line-height: 40px;height: 40px;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    width: 100%;
    display: inline-block;
    font-size: 12px;
}

.main{width: 730px;display: inline-block;vertical-align: top;
	padding: 20px 0 20px 20px;
	font-size:14px;color:#333;
	border-left: 1px solid #cccccc;
	min-height: 500px;
	margin-left: -1px;
}
.submenu{
	background: #ffffff none repeat scroll 0 0;
    margin: auto;
    line-height: 40px;
    padding: 0 20px;
    width: 960px;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
}

.submenu a{width: 100px;padding: 0 10px;}
.submenu a.active{color:#333;}

.info-content{
	<span class="text"><a href="<%= file_name %>" download class="download"><%- title %></a></span>
	line-height: 1.5;
}