.container{width: 1000px;}
.nav{position: absolute;top: 0;left: 50px;z-index: 2;width: auto;}

.main-panel{height: 100%;}
.sidebar {
	width: 220px;
    padding: 10px ;
    display: inline-block;
    font-size: 12px;
    overflow: auto;
    height: 100%;
    border-right: 1px solid #cccccc;
}

.sidebar ul.memu-panel li{
	line-height: 40px;height: 40px;
    width: 180px;
    margin-bottom: 15px;
}
.sidebar ul.memu-panel li a{
	/*line-height: 40px;height: 40px;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    width: 100%;
    display: inline-block;
    font-size: 12px;
}

.main{width: 779px;
    display: inline-block;vertical-align: top;
	padding: 20px 0 20px 20px;
	font-size:14px;color:#333;
	border-left: 1px solid #cccccc;
	min-height: 500px;
    max-height: 100%;
    overflow: auto;
	margin-left: -1px;
}
.submenu{
	background: #ffffff none repeat scroll 0 0;
    margin: auto;
    line-height: 40px;
    padding: 0 20px;
    width: 960px;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
}

.submenu a{width: 100px;padding: 0 10px;}
.submenu a.active{color:#333;}

.info-content{
	line-height: 1.5;
}


.sidebar-menu {
    width: 60px;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    height: 100%;
    border-right: 1px solid #cccccc;
    vertical-align: top;
}


.type-panel{}
.type-panel li{border-bottom: 1px solid #999;
    padding: 10px;
    cursor: pointer;
}

.type-panel li.active{
    background-color: #11487e;
}

.type-panel li:hover {
    background-color: #11487e;
    opacity: 0.7;
}


.type-panel li:last-child{border:0;}
.type-panel li .type-ico{
  background-position: center;
  background-size: 40px auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 100%;
}

.type-panel li .res-txt{background-image: url("../../../img/ico/ico-txt.png");}
.type-panel li .res-pic{background-image: url("../../../img/ico/ico-pic.png");}
.type-panel li .res-video{background-image: url("../../../img/ico/ico-video.png");}
.type-panel li .res-ppt{background-image: url("../../../img/ico/ico-ppt.png");}
.type-panel li p{
    padding: 0;
    margin: 0;
    line-height: 20px;
    text-align: center;
    color: #f6f6f6;
}
.sidebar-tree {
    width: 240px;
    padding: 5px 0;
    display: inline-block;
    font-size: 12px;
    overflow: auto;
    height: 100%;
    border-right: 1px solid #cccccc;
    vertical-align: top;
}

.tree-panel{height: 100%;}
.tree-panel .main{width: 700px;padding: 10px 5px;}
