.bg{position: relative;min-width: 1000px;}
.header{width: 1000px;height: 40px;position: absolute;top: 0;z-index: 1;
	left: 0;
	left: 50%;margin-left: -500px;
}
.container{width: 1000px;height: 100%;padding: 40px 0 71px 0 !important;margin:auto;}
.foot{width: 1000px;height: 71px;position: absolute;bottom: 0;z-index: 1;
	/*left: 0;*/
	left: 50%;margin-left: -500px;
}

.ico {background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.ico-video {
  background-image: url('../../img/ico/ico-video.png');
}
.ico-doc {background-image: url('../../img/ico/ico-word.png');}
.ico-pic {background-image: url('../../img/ico/ico-pic.png');}
.ico-pdf {background-image: url('../../img/ico/ico-pdf.png');}
.ico-txt {background-image: url('../../img/ico/ico-txt.png');}
.ico-mp3 {background-image: url('../../img/ico/ico-mp3.png');}
.ico-ppt {background-image: url('../../img/ico/ico-ppt.png');}
