<!DOCTYPE html>
<html>
  <head>
    <title>国防教育信息管理系统</title>
    <%- include ../../common/meta.ejs %>
    <link rel='stylesheet' href='css/resource/detail.css' />
  </head>
  <body>
  	<%- include ../../common/header.ejs %>
    <div class="container">
    </div>
	</div>

  <script type="text/javascript" src='js/user/resource/resource.js'></script>
	<script type="text/javascript" src='js/user/resource/detail.js'></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			moka.user.resource.detail.init();
		});
	</script>
  </body>
  </body>
</html>
