<!--header/-->

<div class="header">
  <h1 class="logo" style="position:relative;">
    <a href="index">
      <div class="logo-title"></div>
      <div class="logo-msg"></div>
    </a>
    <div class="header-info">
      <span class="about">关于</span>
    </div>
  </h1>
</div>

<div class="nav">
  <ul>
    <li id="nav_index"><a href="index">首页</a></li>
    <li id="nav_gfjy" ><a href="resource/list" >国防教育资源</a></li>
    <li id="nav_jsll" ><a href="jsll/list" >军事理论教学</a></li>
    <li id="nav_jsjn" ><a href="jsjn/list" >军事技能教学</a></li>
    <li id="nav_llks" ><a href="paper/list" >理论学习考试</a></li>
    <li id="nav_hbll" ><a href="hbll/list">国防后备力量</a></li>
    <li id="nav_jjcp" ><a href="vote/list" >国防教育测评</a></li>
    <div class="clears"></div>
  </ul>
</div>
<div class="cont">
  <div class="time"> 
    <span>2014年4月22日14:06:40</span> 
    <% if(islogin){ %>
    <div style="display:inline-block;margin-left:10px;color:#61a2d8">
      <span class="t-btn"><a href="resource/edit">发布文章</a></span>
      <span class="t-btn"><a href="resource/upload">上传资源</a></span>
      <span class="t-btn"><a href="paperhistory/list">自测历史</a></span>
      <span class="t-btn"><a href="http://localhost:8888/signin?sid=<%=sid%>">进入论坛</a></span>  

      <span class="t-btn">｜<a href="auth/user/logout">退出</a></span>
    </div>
    <% }else{ %>
    <span class="login">您还未登陆，请<b><a href="javascript:;" id="btn_login">【登录】</a></b></span>
    <span class="t-btn"><a href="http://localhost:8888">进入论坛</a></span>
    <% } %>
    
    <div class="search" style="margin-top:2px;">
      <input class="s_txt" type="text" id="keyword" placeholder="请输入搜索关键词">
      <a  style=" background:url(images/searchbtn.jpg) no-repeat center; width:70px; height:30px; display:inline-block; position:relative; top:-27px; left:240px;" id="btn_search"></a> 
    </div>
  </div>
</div>
<script type="juicer/template" id="dlg-login-tpl">
  <div class="login_bg">
    <div style="position:absolute;left:20px;top:20px;" class="login-logo"></div>
      <form method="post" id="ajax_login_form" action="auth/user/login">
        <input name="type" value="1" type="hidden"><!--普通用户登录-->
        <div class="login_con">
          <div class="login_list">
            <div class="login_line">
              <p>邮箱</p>
              <input type="text" id="email" placeholder="注册邮箱" name="email" class="input_text" >
            </div>
            <div class="login_line">
              <p>密码</p>
              <input type="password" id="password" placeholder="密码" name="password" class="input_text">
            </div>
            <div class="btn_wrap" id="login_submit" style="height:48px;">
              <a href="javascript:void(0)" class="btn_green37">登录</a>
            </div>
            <div style="margin:20px 0;height:48px;" class="btn_wrap">
              <a class="btn_green37" href="user/register">注册</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>
<script>
  $(document).ready(function() {
    $('body').on('click', '#login_submit', function(){
      var options = {
          success: function (data) {
              console.log(data);
          }
      };
      // ajaxForm
      $("#ajax_login_form")[0].submit();
    });
    $('#btn_login').click(function(){
      var dd = dialog({
          title: '登录',
          content: $('#dlg-login-tpl').html()
      });
      dd.showModal();
    });

    $('body').on('click', '.about', function(){
      var dd = dialog({
          title: '关于',
          width: 800,
          height:400,
          content: '国防教育信息管理系统'
      });
      dd.showModal();
    });
  });
</script>