<div class="banner">
  <div class="t-logo">系统logo占位</div>
  <div class="t-right">
    <div id＝"sys_change" onclick="sysChange();" class="t-btn">系统切换</div>
    <div class="t-btn">发布文章</div>
    <div class="t-btn"><a href="/resource/upload">上传资源</a></div>
    <div class="search-box">
      <div class="input-group clearfix">
        <input type="text" value="" placeholder="请输入搜索关键词" name="keyword" autocomplete="off" id="keyword">
        <div class="btn-submit">
             <button href="javascript:void(0);" type="submit" id="btn_search">
                 <i class="icon icon-search icon-large"></i>
             </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/template" id="dlg_sys_change_tpl">
  <div class＝"sys-change" style="width:260px;text-align:center;">
    <dl><a href="">系统1</a></dl>
    <dl><a href="">系统2</a></dl>
    <dl><a href="">系统3</a></dl>
    <dl><a href="">系统4</a></dl>
  </div>
</script>
<script>
  var sysChange = function(){
      var d = dialog({
          title: '系统切换',
          content: $('#dlg_sys_change_tpl').html()
      });
      d.showModal(); 
  };
</script>