<div class="banner">
  <div class="t-logo">系统logo占位</div>
  <div class="t-right">
    <div class="t-btn">发布文章</div>
    <div class="t-btn"><a href="/resource/upload">上传资源</a></div>
    <div class="search-box">
      <div class="input-group clearfix">
        <input type="text" value="" placeholder="请输入搜索关键词" name="keyword" autocomplete="off" id="keyword">
        <div class="btn-submit">
             <button href="javascript:void(0);" type="submit" id="btn_search">
                 <i class="icon icon-search icon-large"></i>
             </button>
        </div>
      </div>
    </div>
  </div>
</div>