*{box-sizing: content-box;}
.main-atlist{position: relative;}
.crumb {
    color: #008186;
    font-size: 14px;
    line-height: 30px;
}


/** 导航 */
.nav{height: 50px;line-height: 50px;background-color: #268de1;color: #ffffff;
  font-size: 18px;
  width: 960px;margin: auto;padding: 0 20px;
}
.nav span{text-align: center;margin-right: 20px;display: inline-block;cursor: pointer;padding: 0 10px;}
.nav span.active{background-color: #f8f8f8;color: #000000;};
.nav span:hover{opacity: 0.8;}


/** 主页面 */
.main-atlist{font-size: 0;}
.main-atlist .twop{width: 160px;margin-right: 20px;font-size: 14px;display: inline-block;*display: inline;
  vertical-align: top;
}
.main-atlist .twop:last-child{width: 779px;margin-right: 0;border-left: 1px solid #cccccc;min-height: 400px;}

.main-atlist .twop .twop-nav{margin: 0;padding: 0;}
.main-atlist .twop .twop-nav li{line-height: 40px;border-bottom: 1px solid #cccccc;font-size: 0;
	padding: 0 10px;cursor: pointer;
}

.main-atlist .twop .twop-nav li.active{background-color: ##00b7ff;color: #ffffff;}
.main-atlist .twop .twop-nav li:hover{background-color: #d8d8d8;color: #000000;}
.main-atlist .twop .twop-nav li:hover span{background-color: #d8d8d8;color: #000000;}

.main-atlist .twop .twop-nav li:last-child{border-bottom: 0;}
.main-atlist .twop .twop-nav li span{
	width: 140px;font-size: 14px;color: #000000;
  	display: inline-block;*display: inline;
  	vertical-align: top;
}

.main-atlist .twop .twop-list{margin: 0;padding: 0;padding: 0 10px;}
.main-atlist .twop .twop-list li{line-height: 40px;border-bottom: 1px dashed #cccccc;font-size: 0;
	
}
.main-atlist .twop .twop-list li:last-child{border-bottom: 0;}
.main-atlist .twop .twop-list li a{width: 600px;margin-right: 9px;overflow: hidden;text-overflow: ellipsis;
  font-size: 14px;color: #000000;
  display: inline-block;*display: inline;
  white-space: nowrap;vertical-align: top;
}
.main-atlist .twop .twop-list li span{width: 150px;font-size: 14px;color: #999999;
  display: inline-block;*display: inline;
  vertical-align: top;
}

/**/
.main-atlist .onep{width: 100%;font-size: 14px;display: inline-block;*display: inline;
  vertical-align: top;
}


.main-atlist .onep .onep-list{margin: 0;padding: 0;padding: 0 10px;}
.main-atlist .onep .onep-list li{line-height: 40px;border-bottom: 1px dashed #cccccc;font-size: 0;
  
}
.main-atlist .onep .onep-list li:last-child{border-bottom: 0;}
.main-atlist .onep .onep-list li a{width: 790px;margin-right: 10px;overflow: hidden;text-overflow: ellipsis;
  font-size: 14px;color: #000000;
  display: inline-block;*display: inline;
  white-space: nowrap;vertical-align: top;
}
.main-atlist .onep .onep-list li span{width: 140px;font-size: 14px;color: #999999;
  display: inline-block;*display: inline;
  vertical-align: top;
}


.building{width: 100%;margin-top: 150px; text-align: center; font-size: 18px;color: #cccccc;}
