/*#header{ width:100%; height:80px; overflow:hidden;}*/
ul{margin: 0;padding: 0;}
/* nav_menu */
.page-header{
  background: url(../../img/bg.png) no-repeat top center #f5f5f5;
  width: 100%;
  height: 180px;
  width: 1000px;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin : 0;
  margin-left: -500px;
  z-index: 1;
}

.container{
  min-height: 100%;
  height: auto;
  padding-top: 180px;
  position: relative;
}

/** 导航 */
.page-header .nav_menu{ width:100%; height:80px; }
.page-header .nav{width:960px;height:80px;position:relative;margin:0 auto; z-index:99;}
.page-header .nav .list li{float:left;}
.page-header .nav .list a{float:left;display:block;width:120px;height:80px;text-align:center;font:normal 16px/80px microsoft yahei; text-decoration:none;
  color: #333;
}
.page-header .nav .list a:hover,.page-header .nav .list a.current{color:#FFA304;}  

.page-header .nav-sub{height: 50px;line-height: 50px;background-color: #268de1;color: #ffffff;
  font-size: 18px;
  width: 960px;margin: auto;padding: 0 20px;
}
.page-header .nav-sub a{text-align: center;margin-right: 20px;cursor: pointer;display: inline-block;}
.page-header .nav-sub a{color: #ffffff;}
.page-header .nav-sub a:hover{opacity: 0.8;}

.nav-tabs{
  font-size: 13px;
  padding-top: 5px;
  padding: 0 20px;
  margin: 0 -20px;
}



/** 顶部logo，搜索 */
.banner{height: 100px;line-height: 100px;
width: 960px;margin: auto;

}
.banner .t-logo{display: inline-block;*display: inline;
  font-size: 36px;
  width: 360px;
  height: 100px;
  padding-left: 110px;
  background-image: url(../../img/logo.png);
  background-repeat:  no-repeat;
  background-position: left center;
  background-size: 100px 100px;
}
.banner .t-right{
  float:right;
  display: inline-block;
  *display: inline;
}

.banner .t-btn{display: inline-block;*display: inline;padding: 0 15px;cursor: pointer;}
.banner .t-btn :hover{opacity: 0.7;}

.banner .search-box {
    float: right;
    position: relative;
    z-index: 10;
    margin-top: 35px;
}
.banner .search-box .layer {
    left: 11px;
    top: 28px;
    width: 224px;
}
.banner .search-box .input-group {
    /*background-color: #e0430c;*/
    background-color: #d8d8d8;
    /*border: 1px solid #ff8347;*/
    border: 1px solid #a7acb4;
    
    height: 28px;
    border-radius: 14px;
    padding: 0 10px;
    position: relative;
}
.banner .search-box input {
    /*background-color: #e0430c;*/
    background-color: #d8d8d8;
    border: 0 none;
    box-sizing: content-box;
    color: #333;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    outline: 0 none;
    padding: 4px 10px 4px 0;
    width: 192px;
}
.banner .search-box input:-moz-placeholder {
    color: #dfdfdf;
}
.banner .search-box input::-moz-placeholder {
    color: #dfdfdf;
}
.banner .search-box .btn-submit {
    border-left: 0 none;
    display: block;
    float: left;
    line-height: normal;
}
.banner .search-box .btn-submit button {
    /*background-color: #e03b3b;*/
    background-color: #d8d8d8;
    border: 0 none;
    height: 26px;
    line-height: 1px;
    width: 26px;
}

.banner{

}

/** 主页面 */
.main{font-size: 0;}
.main .thp{
  width: 290px;
  margin-right: 25px;font-size: 14px;display: inline-block;*display: inline;
  vertical-align: top;
}
.main .thp:last-child{
  /*width: 220px;*/
  margin-right: 0;}
.main .thp .thp-banner{line-height: 40px;border-bottom: 1px solid #cccccc;}
.main .thp .thp-banner .more-link{line-height: 40px;float: right;
  font-size: 12px;
  color: #999999 !important;
  cursor: pointer;
}
.main .thp .thp-banner .more-link a{color: #999999 !important;}

.main .thp .thp-list{margin: 0;padding: 0;}
.main .thp .thp-list li{line-height: 40px;border-bottom: 1px dashed #cccccc;font-size: 0;
}
.main .thp .thp-list li:last-child{border-bottom: 0;}
.main .thp .thp-list li a{width: 235px;margin-right: 10px;overflow: hidden;text-overflow: ellipsis;
  font-size: 14px;color: #000000;
  display: inline-block;*display: inline;
  white-space: nowrap;vertical-align: top;
}
.main .thp .thp-list li span{width: 45px;font-size: 14px;color: #999999;
  display: inline-block;*display: inline;
  vertical-align: top;
  text-align: right;
}

/*.main .thp:last-child .thp-list li a{width: 165px;}*/


.icon {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}
.icon.icon-search {
    background: rgba(0, 0, 0, 0) url("../../img/banner_search.png?__sprite") no-repeat scroll center center;
    cursor: pointer;
}

.icon-large {
    height: 16px;
    line-height: 16px;
    width: 17px;
}


/** login page */
.login_con {
    margin: 0 auto;
    width: 378px;
}
.login_con h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.login_list {
    background-color: #fff;
    margin:  0;
    overflow: hidden;
    padding: 0 18px;
}
.login_line {
    margin: 0 0 12px;
    overflow: hidden;
}
.login_line p {
    color: #474747;
}



.input_text {
    border: 1px solid #c0c5cd;
    border-radius: 2px;
    color: #b4b4b6;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    width: 246px;
    color: #000000;
}





.login_line .input_text {
    height: 36px;
    line-height: 36px;
    margin: 5px 0 0;
    width: 322px;
}
.login_line span {
    border: 1px solid #c0c5cd;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin: 5px 0 0 12px;
    overflow: hidden;
    width: 138px;
}

.btn_green37 {
    background-color: #00c044;
    border-radius: 2px;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
    padding: 0 30px;
    text-align: center;
}

.login_list .btn_wrap {
    margin: 10px 0 0;
    width: auto;
}
.login_list .btn_green37 {
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    width: 282px;
}


/** msg */
.msg-panel{
  height: 600px;
  background-color: #ffffff;
}
.msg-list-panel{
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 100%;
  overflow: auto;
  padding-right: 10px;
  border-right: 1px solid #cccccc
}
.msg-list-panel .msg-oper{
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}

.msg-list-panel .msg-oper .btn{
  margin-right: 10px;
  padding: 3px 10px;
}

.msg-list-panel ul{
  padding-top: 10px;
}
.msg-list-panel ul li{
  color: #333;
  line-height: 2;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px dashed #cccccc;
  padding: 0 5px;
}

.msg-list-panel ul li:hover{
  background-color: #e8e8e8;
}

.msg-list-panel ul li:last-child{
  border: 0;
}

.msg-list-panel ul li.active{
  color: #ffffff;
  background-color: #00B7FF;
}

.msg-content-panel{
  padding: 10px 0 0 10px;
  width: 700px;
  height: 100%;
  display: inline-block;
}
.msg-content-panel .msg-title{height: 40px;margin-bottom: 10px;font-size: 0;}
.msg-content-panel .msg-title label{display: inline-block;line-height: 40px;vertical-align: top;text-align: left;
  width: 40px;font-size: 14px;float: left;
}
.msg-content-panel .msg-title input{width: 650px;border: 1px solid #cccccc;line-height: 40px;vertical-align: top;font-size: 14px;
  padding: 0 10px;
}
.msg-content-panel .simditor{height: 500px;overflow: auto;}

.msg-content-panel .btn-wrapper{text-align: right;}

#team_content_panel .simditor{height: 300px;overflow: auto;}

.avatar-team img{
  height: 100%;
  width: auto;
}
