.container{font-size: 0;padding-bottom: 50px;}

.editor-panel{
  width: 100%;
  margin-top: 20px;
}

.sidebar {
  width: 179px;border-right: 1px solid #cccccc;
  padding: 10px 0;
  display: inline-block;
}
.sidebar .tree-opr{
  line-height: 24px;font-size: 0;
  border-bottom: 1px solid #cccccc;
}

.sidebar .tree-opr a{display: inline-block;width: 40px;text-align: center;
  font-size: 12px;vertical-align: top;
}

.main{width: 780px;display: inline-block;vertical-align: top;
  padding: 10px 0 20px 20px;
  
}

.main .res-list{border-bottom: 1px dashed #cccccc;font-size: 0;line-height: 40px;height: 40px;}
.main .res-list:last-child{border-bottom: 0;}
.main .res-list span{width: 150px;display: inline-block;font-size: 12px;vertical-align: top;}
.main .res-list-title span{width: 150px;display: inline-block;font-size: 12px;vertical-align: top;text-align: center;}
.main .res-list-title span:nth-child(1){width:50px;}
.main .res-list-title span:nth-child(2){width:380px;}
.main .res-list-title span:nth-child(3){width:100px;}
.main .res-list-title span:nth-child(4){width:140px;}
.main .res-list-title span:nth-child(5){width:80px;}

.main .res-list span:nth-child(1){width:50px;}
.main .res-list span:nth-child(2){width:380px;}
.main .res-list span:nth-child(3){width:100px;}
.main .res-list span:nth-child(4){width:140px;}
.main .res-list span:nth-child(5){width:80px;}
.main .res-list .ico {
  width: 28px;  height: 28px;
  vertical-align: middle;
}

.main .res-list .res-title a{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.main .resource-opr{
  line-height: 24px;font-size: 0;
  border-bottom: 1px solid #cccccc;
  text-align: right;
}

.main .resource-opr a{display: inline-block;width: 40px;text-align: center;
  font-size: 12px;vertical-align: top;
}


.news-edit{
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

.news-edit:last-child{
  border:0;
}

.news-edit dl {
    line-height: 30px;
    margin: 0 0 10px 0;
}

.news-edit dl input{
    width: 800px;
    line-height: 30px;
    border: 1px solid #cccccc;
    padding: 0 10px;
}

.btn-wrapper{margin: 10px;}
.btn-commit{display: inline-block;line-height: 30px;padding: 0 20px;border: 1px solid #cccccc;
  cursor: pointer;
}