.container{
    padding-bottom: 50px;
    margin-top: 20px;
}
.module-container{
	/*padding-top: 15px;*/
}

.module-panal{
	margin-top: 15px;
}
.panel-heading{
	position: relative;
}

.panel-heading .heading-btn{
	position: absolute;
	right: 20px;
	top: 4px;
}
.key-panel{
	position: relative;
	padding-right: 100px;
}
.key-panel div{
	display: inline-block;
	margin-right: 15px;
	line-height: 30px;
	padding: 0 40px 0 10px;
	background: #5bc0de;
	color: #ffffff;
	position: relative;
}

.key-panel div span{
	display: inline-block;
	width: 30px;
	line-height: 30px;
	position: absolute;
	top: -2px;
	right: 0;
	color: #d9534f;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
.key-panel .add-key{
	position: absolute;
	right: 10px;
	top: 0;
}
.key-panel .label{
	/*position: absolute;
	right: 10px;
	top: 0;*/
	width: 30px;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
	width: 60px;
	padding: 0;
	margin: 0;
	color: #000000;
}
.key-panel div span:hover{opacity: 0.6;}