<!DOCTYPE html>
<html>
  <head>
    <title>模特管理</title>
    <%- include ../common/meta.ejs %>
  </head>
  <body>
  	<div class="container">
    	<div class="nav">
    		<dl>
    			<a href="/customer/model" >模特管理</a>
    		</dl>
    		<dl>
    			<a href="/customer/user" >用户管理</a>
    		</dl>
    		<dl>
    			<a href="/customer/verify" >模特审核</a>
    		</dl>
        <dl>
          <a href="/customer/tag" >标签管理</a>
        </dl>
        <dl>
          <a href="/album/benifit" >系统福利</a>
        </dl>
        <dl>
          <a href="/album/benifit/import" >后台导入福利</a>
        </dl>
    	</div>
	</div>
  </body>
  </body>
</html>
