<!DOCTYPE html>
<html>
  <head>
    <title>标签管理</title>
    
    <%- include ../common/meta.ejs %>

  </head>
  <body>
  	<div class="container">
    	<div class="title" >
    		标签管理
    		<a class="btn" style="float:right;margin-right:10px;" href="/customer" >返回</a>
    	</div>
    	<div class="search-panel" >
    		<dl>
    			<dt>标签</dt><dd><input id="tag_name" ></dd>
    		</dl>
    	</div>

		<div class="oper-panel" >
			<span id="btn_add_tag" class="btn" >添加</span>
		</div>

    	<div class="list-table" >
    		<table>
    			<thead>
    				<tr>
    					<th>ID</th>
    					<th>标签</th>
    					<th>描述</th>
    					<th>状态</th>
    					<th>创建人</th>
    					<th>创建时间</th>
    					<th>最后修改时间</th>
    					<th>排序</th>
    					<th style="width:130px;">操作</th>
    				</tr>
    			</thead>
    			<tbody id="tag_list"></tbody>
    		</table>
    		<div id="pagebar"></div>
    	</div>

	</div>

	<script type="text/juicer" id="tag_list_tpl">
	{@each list as obj}
		<tr>
			<td>${obj.id}</td>
			<td>${obj.name}</td>
			<td>${obj.description}</td>
			<td>
				{@if obj.status == 0}
					停用
				{@/if}
				{@if obj.status == 1}
					启用
				{@/if}
			</td>
			<td>${obj.create_name}</td>
			<td>
				{@if obj.create_time}
				${obj.create_time|dateFormat}
				{@/if}
			</td>
			<td>
				{@if obj.update_time}
				${obj.update_time|dateFormat}
				{@/if}
			</td>
			<td class="oper">
				<span data-id="${obj.id}" class="view-info">上升</span>
				<span data-id="${obj.id}" class="view-ing">下降</span>
			</td>
			<td class="oper">
				<span data-id="${obj.id}" class="view-info">启用</span>
				<span data-id="${obj.id}" class="edit">编辑</span>
				<span data-id="${obj.id}" data-name="${obj.name}" class="view">关联模特</span>
			</td>
		</tr>
	{@/each}
	</script>

	<script type="text/juicer" id="dlg_add_tag">
	<div id="add_tag_panel" class="v-table" >
		<dl>
			<dt>标签名</dt><dd><input id="add_tag_name" name="name" value=""></dd>
		</dl>
		<dl>
			<dt>说明</dt><dd><input id="add_tag_desc" name="desc" value=""></dd>
		</dl>
	</div>
	</script>

	<script type="text/juicer" id="dlg_edit_tag">
	<div id="edit_tag_panel" class="v-table" >
		<dl>
			<dt>标签名</dt><dd><input id="edit_tag_name" name="name" value="${name}"></dd>
		</dl>
		<dl>
			<dt>说明</dt><dd><input id="edit_tag_desc" name="desc" value="${desc}"></dd>
		</dl>
	</div>
	</script>
	
	<script type="text/javascript" src='/js/customer/tag.js'></script>

	<script type="text/javascript">
		$(document).ready(function(){
			moka.customer.tag.init();
		});
	</script>
  </body>
  </body>
</html>
