<div class="footer" style="display:none;">
  <div class="copyright" style="color:#9e9e9e;font-size:12px;font-weight:300">国防教育研究中心</div>
</div>

<div class="footer">
	<div class=" m-t">
		<h3>友情链接</h3>
		<div class="f-link">
        	<!--友情链接-->
        	<a href="＃" target="_blank">国防报</a>
        	<a href="＃" target="_blank">解放军报</a>
        	<a href="＃" target="_blank">参考消息</a>
		</div>	
		<div class="info">
			<div class="copyright">
				<img width="40px; height="40px;" src="img/logo.png" style="margin-right:10px;">
			</div>
			<div class="gf-info">
				<p>@copyright&nbsp;火箭军指挥学院国防教育研究中心&nbsp;&nbsp;&nbsp;湖北省武汉市二七路145号　电话：0781-663593</p>
			</div>
			
			<div class="about-us">
				<a href="#"><i class="fa fa fa-copyright"></i>邮箱</a>
				<a href="#"><i class="fa fa fa-info-circle"></i>联系我们</a>
			</div>
		</div>
	</div>
</div>