<div style="clear:both;"></div>
<!--end--> 
<!--footer-->
<div class="footer">
	<div class="footer-content">
		<p>@copyright 火箭军指挥学院国防教育研究中心   武汉市二七路145号   电话：0781-663593</p> 
		<div class="tell"><a>邮箱</a><a>联系我们</a></div>
	</div>
</div>