<div class="header">
  <div class="top-bar">
      <div class="pull-left"><span id="date-time" data-markup="time">2016年6月21日 星期二</span></div>
      <div class="pull-right">
        <span data-markup="time"></span>
      </div>
  </div>
  <h1 class="logo">
    <a href="index">
      <div class="logo-title"></div>
    </a>
  </h1>
</div>

<div class="nav">
  <ul class="nav-ul">
    <li id="nav_index"><a href="index">首页</a></li>
    <li id="nav_desc" >
      <a href="index/info/desc" >中心简介</a>
    </li>
    <li id="nav_org" >
      <a href="index/info/org" >研究队伍</a>
    </li>
    <li id="nav_units" style="display:none;" >
      <a href="index/info/manage" >管理机构</a>
    </li>
    <li id="nav_science" >
      <a href="index/data/science" >学术成果</a>
      <ul class="sub-nav">
        <li><a href="index/data/science" >课题</a></li>
        <li><a href="index/data/science" >专著</a></li>
        <li><a href="index/data/science" >论文</a></li>
        <li><a href="index/data/science" >教材</a></li>
        <li><a href="index/data/science" >研究报告</a></li>
      </ul>
    </li>
    <li id="nav_res" >
      <a href="index/data/history" >数字资源</a>
      <ul class="sub-nav">
        <li><a href="index/data/history" >国防历史</a></li>
        <li><a href="index/data/rule" >国防法规</a></li>
        <li><a href="index/data/foreign" >外国军事</a></li>
        <li><a href="index/data/weapon" >武器装备</a></li>
        <li><a href="index/data/situation" >国防形势</a></li>
        <li><a href="index/list/people" >英模人物</a></li>
      </ul>
    </li>
    <li id="nav_about" >
      <a href="index/info/about" >关于我们</a>
      <ul class="sub-nav">
        <li><a href="index/data/history"  >单位荣誉</a></li>
        <li><a href="index/data/rule"     >个人荣誉</a></li>
      </ul>
    </li>
    <li id="nav_bbs" >
      <a href="http://localhost:8888" target="_blank" >国防论坛</a>
    </li>
    <div class="clears"></div>
  </ul>
</div>
<script type="juicer/template" id="dlg-login-tpl">
  <div class="login_bg">
    <div style="position:absolute;left:20px;top:20px;" class="login-logo"></div>
      <form method="post" id="ajax_login_form" action="auth/user/login">
        <input name="type" value="1" type="hidden"><!--普通用户登录-->
        <div class="login_con">
          <div class="login_list">
            <div class="login_line">
              <p>邮箱</p>
              <input type="text" id="email" placeholder="注册邮箱" name="email" class="input_text" >
            </div>
            <div class="login_line">
              <p>密码</p>
              <input type="password" id="password" placeholder="密码" name="password" class="input_text">
            </div>
            <div class="btn_wrap" id="login_submit" style="height:48px;">
              <a href="javascript:void(0)" class="btn_green37">登录</a>
            </div>
            <div style="margin:20px 0;height:48px;" class="btn_wrap">
              <a class="btn_green37" href="user/register">注册</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>
<script>
  $(document).ready(function() {
    $('body').on('click', '#login_submit', function(){
      var options = {
          success: function (data) {
              console.log(data);
          }
      };
      // ajaxForm
      $("#ajax_login_form")[0].submit();
    });
    $('#btn_login').click(function(){
      var dd = dialog({
          title: '登录',
          content: $('#dlg-login-tpl').html()
      });
      dd.showModal();
    });
  });
</script>