<div class="header">
  <div class="top-bar">
      <div class="pull-left"><span id="date-time" data-markup="time"><%= currDate %></span></div>
      <div class="pull-right">
        <span data-markup="time"></span>
      </div>
  </div>
  <h1 class="logo">
    <a href="index">
      <div class="logo-title"></div>
    </a>
  </h1>
  <div id="slogan" class="milky">
    <ul >
      <li>加强国防教育 共筑钢铁长城</li>
      <li>服务国家人才培养需要</li>
      <li>服务国家后备力量建设</li>
    </ul>
  </div>
  <div class="star-bg">
    <div class="star s3 a12" style="top: 5px;left: 5px;"></div>
    <div class="star s3 a11" style="top: 39px;left: 8px;"></div>
    <div class="star s2 a12" style="top:24px;left:150px;"></div>
    <div class="star s1 a22" style="top:24px;left:96px;"></div>
    <div class="star s2 a11" style="top:24px;left:120px;"></div>
    <div class="star s3 a12" style="top:6px;left:270px;"></div>
    <div class="star s1 a22" style="top:30px;left:210px;"></div>
    <div class="star s1 a21" style="top:36px;left:192px;"></div>
    <div class="star s1 a22" style="top:12px;left:60px;"></div>
    <div class="star s2 a11" style="top:30px;left:294px;"></div>
    <div class="star s1 a22" style="top:36px;left:36px;"></div>
    <div class="star s1 a22" style="top:6px;left:156px;"></div>
    <div class="star s2 a11" style="top:6px;left:90px;"></div>
    <div class="star s1 a22" style="top:24px;left:330px;"></div>
    <div class="star s1 a21" style="top:6px;left:330px;"></div>

    <div class="star s3 a12" style="top: 5px;right: 5px;"></div>
    <div class="star s3 a11" style="top: 39px;right: 8px;"></div>
  </div>
</div>

<div class="nav">
  <ul class="nav-ul">
    <li id="nav_index"><a href="index">首页</a></li>
    <li id="nav_desc" >
      <a href="index/info/desc" >中心简介</a>
    </li>
    <li id="nav_org" >
      <a href="index/info/org" >研究队伍</a>
    </li>
    <li id="nav_units" style="display:none;" >
      <a href="index/info/manage" >管理机构</a>
    </li>
    <li id="nav_science" >
      <a href="index/info/science" >学术成果</a>
      <ul class="sub-nav">
        <li><a href="index/science/list/1" >课题</a></li>
        <li><a href="index/science/list/2" >专著</a></li>
        <li><a href="index/science/list/3" >论文</a></li>
        <li><a href="index/science/list/4" >教材</a></li>
        <li><a href="index/science/list/5" >研究报告</a></li>
      </ul>
    </li>
    <li id="nav_res" style="display:none;">
      <a href="index/res/list/1" >数字资源</a>
      <ul class="sub-nav">
        <li><a href="index/res/list/1" >国防历史</a></li>
        <li><a href="index/res/list/2" >国防法规</a></li>
        <li><a href="index/res/list/3" >国防力量</a></li>
        <li><a href="index/res/list/4" >国防战略</a></li>
        <li><a href="index/res/list/5" >国防建设</a></li>
        <li><a href="index/res/list/6" >世界军事</a></li>
      </ul>
    </li>
    <li id="nav_vote" >
      <a href="vote/index" target="_blank" >国防教育测评</a>
    </li>
    <li id="nav_about" >
      <a href="index/info/about" >关于我们</a>
    </li>
    <!--<li id="nav_about" >
      <a href="index/about/org" >关于我们</a>
      <ul class="sub-nav">
        <li><a href="index/about/org"  >单位荣誉</a></li>
        <li><a href="index/about/personal"     >个人荣誉</a></li>
      </ul>
    </li>-->
    <li id="nav_bbs" >
      <a href="http://192.168.2.231:8888" target="_blank" >国防论坛</a>
    </li>
    <div class="clears"></div>
  </ul>
</div>
<script type="juicer/template" id="dlg-login-tpl">
  <div class="login_bg">
    <div style="position:absolute;left:20px;top:20px;" class="login-logo"></div>
      <form method="post" id="ajax_login_form" action="auth/user/login">
        <input name="type" value="1" type="hidden"><!--普通用户登录-->
        <div class="login_con">
          <div class="login_list">
            <div class="login_line">
              <p>邮箱</p>
              <input type="text" id="email" placeholder="注册邮箱" name="email" class="input_text" >
            </div>
            <div class="login_line">
              <p>密码</p>
              <input type="password" id="password" placeholder="密码" name="password" class="input_text">
            </div>
            <div class="btn_wrap" id="login_submit" style="height:48px;">
              <a href="javascript:void(0)" class="btn_green37">登录</a>
            </div>
            <div style="margin:20px 0;height:48px;" class="btn_wrap">
              <a class="btn_green37" href="user/register">注册</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>
<script>
  $(document).ready(function() {
    $('body').on('click', '#login_submit', function(){
      var options = {
          success: function (data) {
              console.log(data);
          }
      };
      // ajaxForm
      $("#ajax_login_form")[0].submit();
    });
    $('#btn_login').click(function(){
      var dd = dialog({
          title: '登录',
          content: $('#dlg-login-tpl').html()
      });
      dd.showModal();
    });

      function scrollTxt(){
        var controls={}, 
          values={},
          t1=500, /*播放动画的时间*/
          t2=3000, /*播放时间间隔*/
          si;
        controls.rollWrap=$("#slogan");
        controls.rollWrapUl=controls.rollWrap.children();
        controls.rollWrapLIs=controls.rollWrapUl.children();


        values.liNums=controls.rollWrapLIs.length;
        values.liHeight=controls.rollWrapLIs.eq(0).height();
        values.ulHeight=controls.rollWrap.height();
        this.init=function(){
          autoPlay();
          pausePlay();
        }
        /*滚动*/
        function play(){
          controls.rollWrapUl.animate({"margin-top" : "-"+values.liHeight}, t1, function(){
            $(this).css("margin-top" , "0").children().eq(0).appendTo($(this));
          });
        }
        /*自动滚动*/
        function autoPlay(){
          /*如果所有li标签的高度和大于.roll-wrap的高度则滚动*/
          if(values.liHeight*values.liNums > values.ulHeight){
            si=setInterval(function(){
              play();
            },t2);
          }
        }
        /*鼠标经过ul时暂停滚动*/
        function pausePlay(){
          controls.rollWrapUl.on({
            "mouseenter":function(){
              clearInterval(si);
            },
            "mouseleave":function(){
              autoPlay();
            }
          });
        }
      }
      new scrollTxt().init();
  });
</script>
<script>
var GetRandomNum = function (Min,Max){   
        var Range = Max - Min;   
        var Rand = Math.random();   
        return(Min + Math.round(Rand * Range));   
      };
      var starHtml = '';

        var createMonster = function(){
          var size = GetRandomNum(1,3);
        var top = GetRandomNum(0,7) * 6;
        var left = GetRandomNum(0,56) * 6;
        var type = GetRandomNum(1,2);
        var asize = GetRandomNum(1,2);
        var html = '<div class="star s'+ size +' a'+ type + asize +'"  style="top:'+top+'px;left:'+left+'px;"></div>';
        $('.star-bg').append(html);
      };
      
       /* for(var i=0;i<15;i++){
          createMonster();
        }
        setInterval(function(){
          $('.star-bg').find('.star').first().remove();
          createMonster();
        },1000);*/
</script>