<!DOCTYPE html>
<html>
  <head>
    <title>国防教育测评</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/admin/question/import.css' >
    <link rel='stylesheet' href='css/admin/vote/list.css' >
  </head>
  <body>
    <%- include ../common/header.ejs%>   
  	<div class="container">
      <div class="main">
        <div class="top-bar">
          <span id="btn_add" >新的测评</span>
        </div>
        <div>
          <table class="table table-striped" style="font-size:14px;">
            <thead>
              <tr>
                <td class="">名称</td>
                <td class="">描述</td>
                <td class="">状态</td>
                <td class="">时间</td>
                <td class="">操作</td>
              </tr>
            </thead>
            <tbody id="paper_list"></tbody>
          </table>

        </div>
        <div id="pagebar"></div>
      </div>
	  </div>

    <script type="juicer/template" id="paper-list-tpl">
    {@each list as obj, index}
    <tr >
      <td class="name">${obj.name}</td>
      <td class="desc">${obj.description}</td>
      <td class="desc">{@if status=1}进行中{@/if}{@if status=0}已停止{@/if}</td>
      <td class="desc">${obj.create_time}</td>
      <td class="oper">
        <span data-id="${obj.id}" class="data">统计</span>
        <span data-id="${obj.id}" class="edit">编辑</span>
        <span data-id="${obj.id}" class="del" >删除</span>
        {@if status=1}
          <span data-id="${obj.id}" class="stop">关闭</span>
        {@/if}
        {@if status=0}
          <span data-id="${obj.id}" class="start">开启</span>
        {@/if}
      </td>
    </tr>
    {@/each}
    </script>
    
    <script type="juicer/template" id="dlg-edit-paper-tpl">
    <div class="paper-edit">
      <dl>
        <dt>试卷名称</dt>
        <dd>
          <input id="paper_name" value="${name}">
        </dd>
      </dl>
      <dl>
        <dt>试卷描述</dt>
        <dd>
          <input id="paper_desc" value="${description}">
        </dd>
      </dl>
      <dl id="paper_questions" class="paper-questions">
        <dt>试卷题目<div data-id="${id}" class="btn-edit-questions">编辑题目</div></dt>
        <dd>
          {@include questionListTpl, questionListData}
        </dd>
      </dl>
    </div>
    </script>

    <script type="juicer/template" id="question-list-tpl">
    {@each list as obj, index}
    <div data-id="${obj.id}" class="question-list">
        <div class="qtype">
          ${index|formatIndex}.&nbsp;${obj.qtype|getQType}
        </div>
        <div class="qbody">${obj.qbody}</div>
        {@if obj.qtype == 2}
          <div class="qanswer">$${obj.qanswer|formatAnswer}</div>
        {@/if}
        <div class="rtanswer">正确答案：${obj.rtanswer}</div>
    </div>
    {@/each}
    </script>

    <script type="text/javascript" src="js/common/question.js"></script>
    <script type="text/javascript" src="js/admin/question/import.js"></script>
    <script type="text/javascript" src="js/admin/vote/list.js"></script>
    
    <script>
      $(document).ready(function() {
            moka.admin.vote.list.init();
        });
    </script>
  </body>
</html>
