.bg{
  /*background-image: url('../../../img/cloud.png');*/
  background-image: url('../../../img/index/gfhbll-bg.jpg');
  width: 100%;height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: auto;
}
.container{width: 1000px;background: transparent;
  background-color: rgba(255,255,255,0.5);
  position: relative;
}

.index-main{
  padding-top: 30px;
}


.index-main .sys-logo{
  width: 100%;
  height: 120px;
  background-image: url("../../../img/logo.png");
  background-position: center left;
  background-size: auto 120px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.index-main .sys-title{
  width: 750px;
  height: 120px;
  background-image: url("../../../img/hbll_title.png");
  background-position: center left;
  background-size: auto 120px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}

.index-main .sys-msg{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: #f6f6f6;
}

.index-main .sys-enter{
  width: 100%;
  text-align: right;
  margin-top: 60px;
}

.index-main .sys-enter .btn{
  font-size: 20px;
  background-color: rgba(255,255,255,0.4);
  color: #121212;
  line-height: 2;
  padding: 0 60px 0 60px;
  border-radius: 5px;
  cursor: pointer;
}

.index-main .sys-enter .btn a{
    color: #333;
    text-decoration: none;
}
.index-main .sys-enter .btn:hover{
  opacity: 0.6;
}

.sys-info{height: 320px;}

.login-panel{
  padding-top: 80px;height: 320px;
}
.login-bg{
  top: 290px;
  right: 0;
  height: 320px;
  
}
.login-bg p:first-child{
  margin-top: 20px;
}
.login-bg p{
  font-size: 15px;
  line-height: 2;
}

.sys-info-img {
    height: 320px;
}
.sys-info-img img{ height: 320px;}