<!DOCTYPE html>
<html>
  <head>
    <%- include ../common/meta.ejs %>
    <title>师资力量</title>
    <link rel='stylesheet' href='css/admin/expert/list.css' >
  </head>
  <body>
    <%- include ../common/header.ejs %>  
  	<div class="container">
      <div class="fpanel">
        <ul class="nav nav-tabs sub-nav">
          <li data-type="1" class="active">
            <a href="javascript:void(0);">专家列表</a>
          </li>
          <div class="tool-bar">
            <span id="btn_add"    class="btn btn-primary">添加专家</span>
          </div>
        </ul>
        <div class="main">
          <div>
            <div class="expert-list-title">
              <div class="">序号</div>
              <div class="name">姓名</div>
              <div class="name">出生年月</div>
              <div class="name">职称</div>
              <div class="name">研究方向</div>
              <div class="name">简介</div>
              <div class="oper">操作</div>
            </div>
            <div id="expert_list"></div>
          </div>
          <div id="pagebar"></div>
        </div>
      </div>
	  </div>

   
    <script type="juicer/template" id="expert-list-tpl">
    {@each list as obj, index}
    <div class="expert-list">
      <div class="name">${index|formatIndex}</div>
      <div class="name">${obj.name}</div>
      <div class="name">${obj.birthday}</div>
      <div class="name">${obj.title}</div>
      <div class="name">${obj.topic}</div>
      <div class="desc">${obj.description}</div>
      <div class="oper">
        <span data-id="${obj.id}" ><a href="expert/detail/${obj.id}" target="_blank">查看</a></span>
        <span data-id="${obj.id}" ><a href="admin/expert/edit/${obj.id}" target="_blank">编辑</a></span>
        <span data-id="${obj.id}" class="del">删除</span>
      </div>
    </div>
    {@/each}
    </script>
    
    <script type="juicer/template" id="dlg-edit-expert-tpl">
    <div class="expert-edit">
      <dl>
        <dt>专家姓名</dt>
        <dd>
          <input name="name" value="${name}">
        </dd>
      </dl>
      <dl>
        <dt>出生年月</dt>
        <dd>
          <div class="input-append date" id="datetimepicker" data-date="${birthday}" data-date-format="yyyy-mm-dd">
              <input class="span2" size="16" type="text" name="birthday" value="${birthday}">
              <span class="add-on"><i class="icon-remove"></i></span>
              <span class="add-on"><i class="icon-th"></i></span>
          </div>  
        </dd>
      </dl>
      <dl>
        <dt>职称</dt>
        <dd>
          <input name="title" value="${title}">
        </dd>
      </dl>
      <dl>
        <dt>研究方向</dt>
        <dd>
          <input name="topic" value="${topic}">
        </dd>
      </dl>
      <dl>
        <dt style="vertical-align:top;">简介</dt>
        <dd>
          <textarea name="description" style="width:100%;height:300px;">${description}</textarea>
        </dd>
      </dl>
    </div>
    </script>
    
    <script type="text/javascript" src="js/admin/expert/list.js"></script>
    
    <script>
      $(document).ready(function() {
        $('#navfouce .expert').addClass('current');
        moka.admin.expert.list.init();
      });
    </script>
  </body>
</html>
