<!DOCTYPE html>
<html>
  <head>
    <title>军事技能学习</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/user/jsjn/jsjn.css' >
    <link rel='stylesheet' href='css/user/jsjn/index.css' >
  </head>
  <body>
    <div class="bg">
        <div class="container">
            <div id="main_sys" class="wrapper main-sys" >
                <div class="sidebar">
                  <ul id="menu_bar" class="res-menu"></ul>
                </div>
                <div id="menu_content" class="main"></div>
            </div>

            <div id="sub_sys" class="wrapper sub-sys" >
                <div class="sidebar">
                  <ul id="sub_menu_bar" class="res-menu"></ul>
                </div>
                <div id="sub_menu_content" class="main"></div>
                <div id="sub_footer" class="sub-footer">

                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="menu-tpl">
    {@each list as obj, index}
    <li data-index="${index}" style="${obj.def|getImgStyle}">
      <img class="def" src="jsjn/png/${obj.def}.png">
      <img class="hover" src="jsjn/png/${obj.hover}.png">
    </li>
    {@/each}
    </script>
    <script type="text/template" id="menu-content-tpl">
      <div class="main-title">
        <img style="${top|getImgStyle}" src="jsjn/png/${top}.png">
      </div>
      <div class="main-list">
        <ul class="main-menu-list">
          {@each jie as obj}
          <li data-type="${sysType}" data-index="${index}" style="${obj.def|getImgStyle}">
            <img class="def" src="jsjn/png/${obj.def}.png">
            <img class="hover" src="jsjn/png/${obj.hover}.png">
          </li>
          {@/each}
        </ul>
        
      </div>
    </script>


    <script type="text/javascript" src="js/user/jsjn/nc.js"></script>
    <script type="text/javascript" src="js/user/jsjn/c1.js"></script>
    <script type="text/javascript" src="js/user/jsjn/c2.js"></script>
    <!--<script type="text/javascript" src="js/user/jsjn/c3.js"></script>-->
    <script type="text/javascript" src="js/user/jsjn/c4.js"></script>
    <script type="text/javascript" src="js/user/jsjn/index.js"></script>
    <script>
        $(function () {
            moka.user.jsjn.index.init();
        });
    </script>
  </body>
</html>
