<!DOCTYPE html>
<html>
  <head>
    <title>军事技能学习</title>
    <%- include ../common/meta.ejs %>
    <link rel='stylesheet' href='css/zTreeStyle/zTreeStyle.css' >
    <link rel='stylesheet' href='css/user/jsjn/jsjn.css' >
    <link rel='stylesheet' href='css/user/jsjn/list.css' >
    
  </head>
  <body>
    <%- include ../common/header.ejs %>   
    <div class="nav">
      <ul class="nav-ul">
        <li data-type="1" data-mid="1301" class="active">
          <a href="javascript:void(0);">训练组织</a>
        </li>
        <li data-type="2" data-mid="1302">
          <a href="javascript:void(0);" >训练实施</a>
        </li>
        <li data-type="3" data-mid="1303">
          <a href="avascript:void(0);" >辅助资料</a>
        </li>
      </ul>
    </div>


      
      
  	<div class="container">
      <div id="menu_panel" >
        <div class="sidebar">
          <ul class="res-memu"></ul>
        </div>
        <div class="main">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 id="content_title" class="panel-title"></h3>
            </div>
            <div id="content" class="panel-body detail-article">
            </div>
          </div>
        </div>
      </div>

      <div id="tree_panel" style="display:none;">
        <div class="sidebar-menu">
          <ul class="type-panel">
            <li data-type="1">
              <i class="type-ico res-txt"></i>
              <p>文字</p>
            </li>
            <li data-type="2">
              <i class="type-ico res-txt"></i>
              <p>图片</p>
            </li>
            <li data-type="3">
              <i class="type-ico res-txt"></i>
              <p>视频</p>
            </li>
            <li data-type="4">
              <i class="type-ico res-txt"></i>
              <p>课件</p>
            </li>
          </ul>
        </div>
        <div class="sidebar-tree">
          <ul id="topic_tree" class="ztree" ></ul>
        </div>
        <div class="main">
          <div id="txt_panel" class="info-content" >
            <textarea class="editor-area" id="txt_editor" placeholder="输入文章正文" autofocus></textarea>
            <div class="btn-wrapper" style="font-size:14px;margin-top: 15px;text-align:right;">
              <span id="btn_txt" class="btn btn-primary">提交</span>
            </div>
          </div>
          <div id="resource_panel" style="display:none;">
            <div id="resource_list"></div>
            <div id="pagebar"></div>
          </div>
        </div>

      </div>
	  </div>

    
    <%- include ../common/footer.ejs %>   
    
    <script type="text/template" id="resource-tpl">
    <div class="res-list">
      <span class="res-type">类型</span>
      <span class="res-title">标题</span>
      <span>作者</span>
      <span>时间</span>
    </div>
    {@each list as resource}
    <div class="res-list">
      <span class="res-type"><i class="ico ico-${resource.file_name|getFileType}"></i></span>
      <span class="res-title">
        <a href="jsjn/detail/${resource.id}" target="_blank">${resource.title}</a>
      </span>
      <span>${resource.author}</span>
      <span>${resource.create_time}</span>
    </div>
    {@/each}
    </script>

    <script type="text/template" id="menu_tpl">
    {@each list as resource}
    <li data-id="${resource.id}">
      <a href="javascript:void(0);" class="btn btn-info btn-lg active" role="button">${resource.name}</a>
    </li>
    {@/each}
    </script>
    <script type="text/javascript" src="js/lib/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="js/user/jsjn/jsjn.js"></script>
    <script type="text/javascript" src="js/user/jsjn/list.js"></script>
    
    <script>
      $(document).ready(function() {
          moka.user.jsjn.list.init();
      });
    </script>
  </body>
</html>
